.main-contact-form{
    height: 500px;
    //margin: 0 auto;
    .section-header:first-of-type{
        margin-top: 60px;
        //margin-bottom: -5px;
    }
    hr:first-of-type{
        width: 70%;  
        margin: 40px auto;
        margin-bottom: 15px;
    }
    hr:last-of-type{
        width: 70%;  
        margin: 20px auto;
        margin-bottom: 20px;
    }
    h2{
        font-size: 90%;
        letter-spacing: 2px;
        text-align: center;
    }
    .social-icons{
        i{
            border: 2px solid $mainFontColor;
            border-radius: 50%;
            transition: all 0.3s;
            &:hover{
                background: $mainFontColor;
                color: $backgroundColor;
                transition: all 0.3s;
            }
        }
        div:last-of-type{
            margin-bottom: 6px;
        }
    }
}


#main-form{
    max-width: 800px;
    margin: 0 auto;
    height: 210px;
    
    input,
    textarea{
        font-size: 70%;
        padding: 5px;
        letter-spacing: 0.2px;
        border-radius: 2px;
        border: 1px solid $mainFontColor;
        outline: none;   
    }
    input[type=text],
    input[type=email],
    textarea{
        padding-left: 30px;
        transition: background-color 0.3s;
        &:focus{
            background-color: #efefef;
            transition: background-color 0.3s;
        }
    }
    input[type=submit]{
        display: block;
        margin: 10px auto 0px auto;
        width: 70px;
        background-color: #efefef;
        transition: box-shadow 0.3s;
        &:hover{
            transition: box-shadow 0.3s;
            box-shadow: 0px 0px 1px 1px;
        }
    }
    input[name=_gotcha]{
        display: none;
    }

}

#main-agent{
    margin-left: 0%;
    margin-bottom: 30px;
}


@mixin setFieldIcon($iconCode){
    position: relative;
    &:before{
        font-size: 90%;
        color: #143a62;
        font-family: FontAwesome;
        position: absolute;
        top: 7px;
        left: 28px;
        content: $iconCode;
    }
}

#form-lb-name{
    @include setFieldIcon("\f007");
}
#form-lb-email{
    @include setFieldIcon("\f0e0");
}
#form-lb-msg{
    @include setFieldIcon("\f040");
}

.notValid{
    position: relative;
    &:after{
        font-size: 90%;
        color: #d31515;
        font-family: FontAwesome;
        position: absolute;
        top: 8px;
        right: 30px;
        content: "\f06a";
    }
}


.user-details{
    margin: 0 auto;
    input{
        display: block;
        margin: 0 auto;
        width: 90%;
    }
}


.message{
    margin: 0 auto;
    textarea{
        display: block;
        margin: 0 auto;
        width: 95%;
        resize: none;
        height: 100px;
    }
}

