<section class="section main-contact-form">
    <div class="section-header">
        <h1>Contact</h1>
    </div>
    
    <div class="direct">
        <h2>Direct</h2>
        <p id="email-ian"></p>
    </div>
    
    <form id="main-form" method="POST">
        <div class="row user-details">
            <label id="form-lb-name" class="col span-1-of-2">
                <input type="text" placeholder="Name"/>
            </label>
            <label id="form-lb-email" class="col span-1-of-2">
                <input type="email" name="_replyto" placeholder="Email"/>
            </label>
            <input type="hidden" name="_subject" value="Message from Website"/>
            <input type="hidden" name="_next" value="http://www.ianarber.com/thankyou/"/>
            <input type="text" name="_gotcha"/>
        </div>
        <div class="row message">
            <label id="form-lb-msg" class="col span-2-of-2">
                <textarea name="message" placeholder="Message" maxlength="1000"></textarea>
            </label>
        </div>
        <input type="submit" value="Send"/>
    </form>
    
    <div class="section"></div>
    <hr>
    
     <div class="social">
        <div class="social-icons">
            <div><a target="_blank" href="http://www.facebook.com/ianarbercomposer"><i class="fa fa-facebook"></i></a></div>
            <div><a target="_blank" href="http://www.twitter.com/ianarber"><i class="fa fa-twitter"></i></a></div>
            <div><a target="_blank" href="http://www.soundcloud.com/ianarber"><i class="fa fa-soundcloud"></i></a></div>
            <div><a target="_blank" href="https://www.instagram.com/ianarber"><i class="fa fa-instagram"></i></a></div>
            <div><a target="_blank" href="http://www.imdb.com/name/nm4725072/"><i>IMDb</i></a></div>
            <!-- TODO: check Skype link -->
<!--            <div><a href="skype:ian_arber?call"><i class="fa fa-skype"></i></a></div>-->
        </div>
    </div>
                
    <hr>
    
    <h2>Agent Representation</h2>
    
    <div id="main-agent" class="col span-2-of-2">
        <div class="agent">
            <h6><a href="http://smatalent.com/" target="_blank">SMA Talent</a></h6>
            <p>Carolynne Wyper &middot; Michelle De Vries</p>

            <i class="fa fa-map-marker"></i>
            <p>3rd Floor, 207 Regent Street<br/> London W1B 3HH</p>
            <i class="fa fa-phone"></i>
            <p>+44 (0)207 3075958</p>
            <i class="fa fa-envelope"></i>
            <p><a id="email-carolynne" target="_top"></a></p>
            <p><a id="email-michelle" target="_top"></a></p>
        </div>
    </div>
    
</section>