<section class="section main-contact-form">
    <div class="section-header">
        <h1>Contact</h1>
    </div>

    <h2>Agent Representation</h2>
    
    <div id="main-agent" class="col span-2-of-2">
        <div class="agent">
            <h6><a href="https://coolmusicltd.com/composers/ian-arber" target="_blank">Cool Music</a></h6>
            <p>Ollie Fitzgerald &middot; Darrell Alexander</p>

            <i class="fa fa-map-marker"></i>
            <p>London</p>
            <i class="fa fa-phone"></i>
            <p>+44 (0) 208 995 7766</p>
            <i class="fa fa-envelope"></i>
            <p><a id="email-ollie" target="_top"></a></p>
        </div>
        <div class="agent">
            <h6><a href="https://soundtrk.com" target="_blank">Soundtrk</a></h6>
            <p>John Tempereau &middot; Isabel Pappani</p>

            <i class="fa fa-map-marker"></i>
            <p>Los Angeles</p>
            <i class="fa fa-phone"></i>
            <p>+1 (310) 260-1023</p>
            <i class="fa fa-envelope"></i>
            <p><a id="email-john" target="_top"></a></p>
        </div>
    </div>
    
    <hr>
    
     <div class="social">
        <div class="social-icons">
            <div><a target="_blank" href="http://www.facebook.com/ianarbercomposer"><i class="fa fa-facebook"></i></a></div>
            <div><a target="_blank" href="http://www.twitter.com/ianarber"><i class="fa fa-twitter"></i></a></div>
            <div><a target="_blank" href="https://www.instagram.com/ianarber"><i class="fa fa-instagram"></i></a></div>
            <div><a target="_blank" href="http://www.imdb.com/name/nm4725072/"><i>IMDb</i></a></div>
        </div>
    </div>
                
    <hr>

    <div class="direct">
        <h2>Direct</h2>
        <p id="email-ian"></p>
    </div>
    
    <form id="main-form" method="POST">
        <div class="row user-details">
            <label id="form-lb-name" class="col span-1-of-2">
                <input type="text" placeholder="Name"/>
            </label>
            <label id="form-lb-email" class="col span-1-of-2">
                <input type="email" name="_replyto" placeholder="Email"/>
            </label>
            <input type="hidden" name="_subject" value="Message from Website"/>
            <input type="hidden" name="_next" value="http://www.ianarber.com/thankyou/"/>
            <input type="text" name="_gotcha"/>
        </div>
        <div class="row message">
            <label id="form-lb-msg" class="col span-2-of-2">
                <textarea name="message" placeholder="Message" maxlength="1000"></textarea>
            </label>
        </div>
        <input type="submit" value="Send"/>
    </form>

</section>