---
layout: default
title: Composer
description: The home of Film and TV Composer Ian Arber. Original Music for Film and TV - Movie Soundtrack Score - Hollywood Trailer Music - London Los Angeles - Composition Live Orchestra
image: /assets/img/og_home.jpg
image_size: 1
author: Ian Arber
headerstatus: no-shrink
scripts: |
  <script type="text/javascript" src="/assets/script/collapseHeader.js"></script>
  <script type="text/javascript" src="/assets/script/introSlider.js"></script>
  <script type="text/javascript" src="/assets/script/showreeliframe.js"></script>
  <script type="text/javascript" src="/assets/script/audioPlayer.js"></script>
  <script type="text/javascript" src="/assets/script/posterOverlay.js"></script>
  <script type="text/javascript" src="/assets/script/tooltipForm.js"></script>
---

{% include home/intro.html %}
{% include home/showreel.html %}
{% include home/news.html %}
{% include home/contact-form.html %}
