.bio-text{
	background-color: $backgroundColor;
    height: auto;
    max-width: 1140px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    hr{
        margin-bottom: 25px;
    }
}


.bio-profile{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    img{
        float: left;
        width: 140px;
        margin: 0px 15px;
        border: 5px solid #efefef;
        border-radius: 50%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    }
    p{
        margin-bottom: 25px;
        height: 140px;
        letter-spacing: 0.2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


#bio-post-container{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
}

#bio-post-text{
    width: 90%;
    margin: 0 auto;
    blockquote{
        margin: 30px 0px;
		p{
            font-style: italic;
		}        
	} 
}

#about-listen-btn{
	line-height: normal;
    font-size: 125%;
    font-weight: 400;
    text-decoration: none;
}



