.bio{
	position: relative;
	top: 110px;
	height: 550px;
	background-color: #efefef;
	border-top: 1px solid #efefef;
}

/**futher stylings in globals.scss**/
.bio-pic{
	width: 70%;
}


.bio-slideshow{
    list-style: none;
    li span{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        backface-visibility: hidden;
        animation: imageAnimation 30s linear infinite 0s;
    }
    li:nth-child(1) span{
        background-image: url(../img/bio-background-1.jpg);
    }
    li:nth-child(2) span{
        background-image: url(../img/bio-background-2.jpg);
        animation-delay: 10s;
    }
    li:nth-child(3) span{
        background-image: url(../img/bio-background-3.jpg);
        animation-delay: 20s;
    }
}


@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



























