.bio-text{
	background-color: $backgroundColor;
	height: 1395px;
	margin-top: 110px;
    hr{
        margin-bottom: 25px;
    }
}


.bio-profile{
    width: 70%;
    margin-top: 145px;
    margin-left: auto;
    margin-right: auto;
    img{
        float: left;
        width: 140px;
        border: 5px solid #efefef;
        border-radius: 50%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    }
}


.bio-text{
	blockquote{
		p{
            font-style: italic;
		}        
	} 
}


.bio-text{
    .post-heading{
        margin: 5px 15px 0 15px;
        padding-left: 150px;
    }
}


.bio-text{
    .post{
        margin: 35px 15px 0 15px;
    }
}