.credit-post{
    margin: 5px 15px 0 15px;
}

.post-credit-image{
   // border: 1px solid red inset;
    img{
        //width: auto;
        border: 2px solid #e2e2e2;
        border-radius: 3px;
    }
}

.post-credit-audio{
    //border: 1px solid blue;
    //min-width: 75%;
    //float: left;
    iframe{           
        display: block;
        border: none;
        width: 100%;
        margin: 0 auto;
        height: 300px;
        padding: 0% 5% 0% 5%;
        background: url(https://site-ianarber.aerobatic.io/assets/img/spinner.gif) no-repeat center center;
    }
}

.post-credit-header{
    margin-bottom: 10px;
}

.post-credit-image{
    img{
        //width: 85%;
        max-height: 300px;
        margin: 0 auto;
        //padding: 2% 0%;
    }
}

#credit-hr{
    margin-top: 20px;
}
