.credit-post{
    margin: 5px 15px -25px 15px;
    blockquote{
        margin-bottom: 25px;
    }
}

.post-credit-audio{
    iframe{
        display: block;
        border: none;
        width: 100%;
        margin: 0 auto;
        height: 300px;
        padding: 0% 5% 0% 5%;
        background: url('http://www.ianarber.com/assets/img/spinner.gif') no-repeat center center;
    }
}

.post-credit-header{
    margin-bottom: 10px;
}

.post-credit-image{
    img{
        max-height: 300px;
        margin: 0 auto;
    }
}

#credit-hr{
    margin-top: 25px;
}
