
{% comment %}--- Initiate values for liquid templating to generate li elements {% endcomment %}

{% assign credits = site.categories.credits | sort: "credits_weight" %}   

<section class="section masonry-grid">
    <div class="section-header">
        <h1>Credits</h1>
    </div>
    
    <div id="imdb-logo">
        <a href="http://www.imdb.com/name/nm4725072/" target="_blank">
            <img src="/assets/img/imdb.png" alt="Logo link to Ian Arber's IMDb profile"/>
        </a>
    </div>
    
    <div id="grid-gallery" class="grid-gallery">
        <section class="grid-wrap">
            <ul class="grid">
                <li class="grid-sizer"></li>  
                {% for p in credits %}
                <li>
                    <a href="{{ p.url }}">
                    <figure>
                        <img src="{{ p.thumbnail }}" alt="{{ p.title }} Credits Poster" />
                        <figcaption>
                            <h5>{{ p.title }} ({{ p.year }})</h5>
                            <p id="role">{{ p.role }}</p>
                            <p><b>Genre:</b> {{ p.genre }}</p>
                            
                            {% if p.director %}
                                <p><b>Director:</b> {{ p.director }}</p>
                            {% endif %}
                            
                            {% if p.writers %}
                                <p><b>Writers:</b> {{ p.writers }}</p>
                            {% endif %}
                            
                            {% if p.producers %}
                                <p><b>Producers:</b> {{ p.producers }}</p>
                            {% endif %}

                        </figcaption>
                    </figure>
                    </a>
                </li>
                {% endfor %}             
            </ul>
        </section>
    </div>
</section>