<section class="section masonry-grid">
    <div class="grid-gallery">
        <section class="grid-wrap">
            <ul class="grid">
                <li class="grid-sizer"></li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-1-indifferent.png" alt="Indifferent Poster"/>
                        <figcaption>
                            <h3>Indifferent - 2016</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-2-scottandsid.png" alt="Scott & Sid Poster"/>
                        <figcaption>
                            <h3>Scott and Sid - 2016</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-3-mi5.jpg" alt="MI5 Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-4-islandofdolls.png" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>The Island of Dolls - 2016</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-5-reunion.jpg" alt="Reunion Poster"/>
                        <figcaption>
                            <h3>Reunion - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-6-kia.jpg" alt="Kia Poster"/>
                        <figcaption>
                            <h3>Kia - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-7-thefish.jpg" alt="The Fish Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-8-welovepaleo.png" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-9-beforeyoureyes.png" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-10-thewindow.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-11-samsung.png" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-12-choiceswemake.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-13-citizen.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-14-changinghands.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-15-timebaristas.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-16-thehole.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-17-tosaveonesself.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-18-theburden.png" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-19-turfbattles.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-20-carpediem.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-21-fateofages.jpg" alt="Island of Dolls Poster"/>
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation - 2015</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
             
                
                
                
                
            </ul>
            
            
            
            
            
            
            
            
            
            
            
            
            
        </section>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div>
</section>