<section class="section masonry-grid">
    <div id="grid-gallery" class="grid-gallery">
        <section class="grid-wrap">
            <ul class="grid">
                <li class="grid-sizer"></li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-1-indifferent.png" alt="Indifferent Grid Poster" />
                        <figcaption>
                            <h3>Indifferent</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-2-scottandsid.png" alt="Scott & Sid Grid Poster" />
                        <figcaption>
                            <h3>Scott &amp; Sid</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-3-mi5.jpg" alt="MI5 Grid Poster" />
                        <figcaption>
                            <h3>Mission: Impossible - Rouge Nation</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-4-islandofdolls.png" alt="Island of Dolls Grid Poster" />
                        <figcaption>
                            <h3>The Island of Dolls</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-5-reunion.jpg" alt="Reunion Grid Poster" />
                        <figcaption>
                            <h3>Reunion</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-6-kia.jpg" alt="Kia Grid Poster" />
                        <figcaption>
                            <h3>Kia</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-7-thefish.jpg" alt="Jim The Fish Grid Poster" />
                        <figcaption>
                            <h3>Jim "The Fish"</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-8-welovepaleo.png" alt="We Love Paleo Grid Poster" />
                        <figcaption>
                            <h3>We Love Paleo</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-9-beforeyoureyes.png" alt="Before Your Eyes Grid Poster" />
                        <figcaption>
                            <h3>Before Your Eyes</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-10-thewindow.jpg" alt="The Window Grid Poster" />
                        <figcaption>
                            <h3>The Window</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-11-samsung.png" alt="Samsung Product Film Grid Poster" />
                        <figcaption>
                            <h3>Samsung Product Film</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-12-choiceswemake.jpg" alt="The Choices we Make Grid Poster" />
                        <figcaption>
                            <h3>The Choices we Make</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-13-citizen.jpg" alt="Citizen Grid Poster" />
                        <figcaption>
                            <h3>Citizen</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-14-changinghands.jpg" alt="Changing Hands Grid Poster" />
                        <figcaption>
                            <h3>Changing Hands</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-15-timebaristas.jpg" alt="Time Baristas Grid Poster" />
                        <figcaption>
                            <h3>Time Baristas</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-16-thehole.jpg" alt="The Hole Grid Poster" />
                        <figcaption>
                            <h3>The Hole</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-17-tosaveonesself.jpg" alt="To Save One's Self Grid Poster" />
                        <figcaption>
                            <h3>To Save One's Self</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-18-theburden.png" alt="The Burden Grid Poster" />
                        <figcaption>
                            <h3>The Burden</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-19-turfbattles.jpg" alt="Turf Battles Grid Poster" />
                        <figcaption>
                            <h3>Turf Battles</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-20-carpediem.jpg" alt="Carpe Diem Grid Poster" />
                        <figcaption>
                            <h3>Carpe Diem</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/credits-grid/grid-21-fateofages.jpg" alt="Fate of Ages Grid Poster" />
                        <figcaption>
                            <h3>Fate of Ages</h3>
                            <p></p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
    </div>
</section>