<section class="section intro">
	<div class="row intro-div">
		<div class="row intro-text">
			<p>
				Welcome to the home of film composer <strong>Ian Arber</strong>. Ian is known for his work on 
				feature-films <strong>Mission: Impossible - Rogue Nation </strong>(2015), <strong>Scott &amp; Sid </strong>(2016), 
				<strong>Reunion </strong>(2014) and <strong>Changing Hands </strong>(2012).
			</p>
		</div>
		<div class="row contact-btn">
	    	<div class="col span-1-of-2 test">
				<p>
					<strong>Need music for a film or television project?</strong><br/>
					<strong>Contact me directly</strong>
				</p>
				<p class="hire-me-btn">
					Let's Chat
				</p>
			</div>
            <div class="col span-1-of-2">
				<p>
					<strong>Or through my representation at</strong><br/>
					<strong><a href="http://www.smatalent.com/">SMA Talent</a></strong>
				</p>
				<p class="hire-me-btn">
					Contact Agent
				</p>
			</div>
		</div>
		<div class="row contact">
			<p>
			    <strong>Connect with me on</strong>
			</p>
			
			<div class="social-btns">
				<a target="_blank" href="http://www.facebook.com/ianarbercomposer">
					<div class="facebook-hover social-slide"></div>
				</a>
				<a target="_blank" href="http://www.soundcloud.com/ianarber">
					<div class="soundcloud-hover social-slide"></div>
				</a>
				<a target="_blank" href="http://www.twitter.com/ianarber">
					<div class="twitter-hover social-slide"></div>
				</a>
				<a target="_blank" href="https://uk.linkedin.com/in/ian-arber-37287b36">
					<div class="linkedin-hover social-slide"></div>
				</a>
				<a href="skype:ian_arber?call">
					<div class="skype-hover social-slide"></div>
				</a>
			</div>
		</div>
	</div>
</section>








