<footer class="section footer">
	<div class="testimonials">
		<div id="left-quote"><i class="fa fa-quote-left"></i></div>
		<div id="testimonial-container">
			<div id="testimonial-wrapper">
				<div class="content">
					<blockquote>
						<p>
							Working with Ian was a true joy and privilege. His imagination is only revaled by his brilliance and work ethic. Ian takes direction amazingly well, and delivers more than you could ever expect. He brings the joy back into the project, and delivers Hollywood magic
						</p>
						<footer>
							-<a href="http://www.imdb.com/name/nm4091628"> Jonathan Moch // Director // "The Burden"</a>
						</footer>
					</blockquote>
				</div>
				<div class="content">
					<blockquote>
						<p>
							Ian's dedication to his craft is both impressive and inspirational. His knowledge base has been integral to the sound design on some of our recent works and I look forward to working with him closely over the coming years. Highly recommended to all
						</p>
						<footer>
							-<a href="https://twitter.com/ryancrashburn?lang=en-gb"> Ryan Mackfall // Owner // Crashburn Media</a>
						</footer>
					</blockquote>
				</div>
				<div class="content">
					<blockquote>
						<p>
							Ian Arber is a truly ambitious composer who has distinguished talent for creating a wondrous score. A movie without a good score is like an airplane with no wings. Ian Arber’s astonishing talent will raise a movie off the ground and give your vision a life of its own
						</p>
						<footer>
							-<a href="http://www.imdb.com/name/nm4719243"> Arya Moghaddam // Director // "Kia" &amp; "Ambulance"</a>
						</footer>
					</blockquote>
				</div>
				<div class="content">
					<blockquote>
						<p>
							Ian Arber has a rare skill – he is both inventive and creative with a musical knowledge well above the fray.  Ian is a pleasure to work with and he is quick at delivering exceptional results.  He makes every single project significantly better with his contributions
						</p>
						<footer>
							-<a href="http://www.imdb.com/name/nm2519152"> Laurel Parker // Director // "On Letting Go"</a>
						</footer>
					</blockquote>
				</div>
				<div class="content">
					<blockquote>
						<p>
							The premiere went very well indeed.  No small thanks to the excellent score. Ian’s score was, shall I say, “instrumental” in making it a success! The dramatic changes in the music helped emphasize the flow of the story and bind together the different segments
						</p>
						<footer>
							-<a href="http://www.imdb.com/name/nm2648967"> Ron Milestone // Editor // "Changing Hands"</a>
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
		
		<div id="right-quote"><i class="fa fa-quote-right"></i></div>	
		
		<div id="navLinks">
			<ul>
				<li class="itemLinks" data-pos="0"></li>
				<li class="itemLinks" data-pos="-1055"></li>
				<li class="itemLinks" data-pos="-2110"></li>
				<li class="itemLinks" data-pos="-3165"></li>
				<li class="itemLinks" data-pos="-4220"></li>
			</ul>
		</div>
	</div>
	
	<div class="row footer-info foot-upper">
        <ul>
            <!--TODO: check links work -->
            <li><a href="/index.html">Home</a></li>&middot;
            <li><a href="/about.html">About</a></li>&middot;
            <li><a href="/listen.html">Listen</a></li>&middot;
            <li><a href="/credits.html">Credits</a></li>&middot;
            <li><a href="/contact.html">Contact</a></li>&middot;
            <li><a href="/clientarea.html">Client Area</a></li>
        </ul>	
	</div>
	
	<div class="row footer-info foot-lower">
	    <div class="col span-1-of-2 foot-about">
			<h4>About</h4>
			<!--TODO: resize headshot image -->
			<img src="/assets/img/ian_headshot_footer.jpg" alt="Ian Headshot"/>
			<p>
				Ian is a classically trained cello and piano player.
				He has a reputation of pushing the boundaries by experimenting with these, as well as other rare and unusual instruments.
			</p>
		</div>
	    <div class="col span-1-of-2 foot-social">
			<h4>Follow Me</h4>
			<div class="social-icons">
                <div><a target="_blank" href="http://www.facebook.com/ianarbercomposer"><i class="fa fa-facebook"></i></a></div>
                <div><a target="_blank" href="http://www.twitter.com/ianarber"><i class="fa fa-twitter"></i></a></div>
                <div><a target="_blank" href="http://www.soundcloud.com/ianarber"><i class="fa fa-soundcloud"></i></a></div>
                <div><a target="_blank" href="https://www.instagram.com/ianarber"><i class="fa fa-instagram"></i></a></div>
                <div><a target="_blank" href="https://uk.linkedin.com/in/ian-arber-37287b36"><i class="fa fa-linkedin"></i></a></div>
                <div><a href="skype:ian_arber?call"><i class="fa fa-skype"></i></a></div>
            </div>
		</div>	    
	</div>
	
	<div class="row copyright">
		<p>&copy; 2016 Ian Arber &middot; Website design by Anthony Desmier</p>
	</div>
</footer>