<footer class="section footer">
	<div class="row footer-info foot-lower">
	    <div class="col span-1-of-2 foot-about">
			<img src="/assets/img/ian_headshot_footer.jpg" alt="Ian Arber Headshot"/>
			<p>
				Ian Arber is a London-based Film &amp; TV composer known for his work on <a href="https://www.imdb.com/title/tt5057130/" target="_blank">Medici (2018)</a>, <a href="https://www.imdb.com/title/tt6980438/" target="_blank">Quacks (2017)</a>, <a href="https://www.imdb.com/title/tt7068942/" target="_blank">Bros - After the Screaming Stops (2018)</a> and <a href="https://www.bbc.co.uk/proms" target="_blank">The BBC Proms Theme (2019)</a>.
			</p>
		</div>
	    <div class="col span-1-of-2 foot-social">
			<h4>Follow Me</h4>
			<div class="social-icons">
                <div><a target="_blank" href="http://www.facebook.com/ianarbercomposer"><i class="fa fa-facebook"></i></a></div>
                <div><a target="_blank" href="http://www.twitter.com/ianarber"><i class="fa fa-twitter"></i></a></div>
                <div><a target="_blank" href="https://www.instagram.com/ianarber"><i class="fa fa-instagram"></i></a></div>
                <div><a target="_blank" href="http://www.imdb.com/name/nm4725072/"><i>IMDb</i></a></div>
            </div>
		</div>
	</div>

	<div class="row copyright">
        <p>&copy; 2022 Ian Arber &middot; Website design by Anthony Desmier</p>
	</div>
</footer>
