<!-- script files to include -->

<!-- scripts libraries -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/script/classie.js"></script>

<!-- custom scripts -->
<script type="text/javascript" src="/assets/script/collapseHeader.js"></script>
<script type="text/javascript" src="/assets/script/mobileMenu.js"></script>
<script type="text/javascript" src="/assets/script/quoteSlider.js"></script>