
<header id="header" class="{{ include.shrunkclass }}">

	<div>
		<div class="col span-1-of-3 main-nav">
			<ul class="menu-list-1">

				<li class="menu-items-1"><a href="/">Home</a></li>
				<li class="menu-items-1"><a href="/about">About</a></li>
				<li class="menu-items-1"><a href="/listen">Listen</a></li>
			</ul>
		</div>
		<div class="col span-1-of-3" id="logo">
			<p class="composer">Composer</p>
			<p class="ianarber"><a href="/">Ian Arber</a></p>
			<p class="film">Film &middot; Television</p>
		</div>
		<div class="col span-1-of-3 main-nav">
			<ul class="menu-list-2">
				<li class="menu-items-2"><a href="/credits">Credits</a></li>
				<li class="menu-items-2"><a href="/contact">Contact</a></li>
				<li class="menu-items-2"><a href="/clientarea">Client Area</a></li>
			</ul>
		</div>


		<a href="#" id="nav-toggle"><i class="flaticon-music"></i></a>
	</div>

</header>
