<!-- header section - uses grid.css (http://www.responsivegridsystem.com/) to 
form 3 column layout -->

<header id="header">
	<div>
		<div class="col span-1-of-3 main-nav">
			<ul class="menu-list-1">
			    <!--TODO: check links work -->
				<li class="menu-items-1"><a href="/index.html">Home</a></li>
				<li class="menu-items-1"><a href="/about.html">About</a></li>
				<li class="menu-items-1"><a href="/listen.html">Listen</a></li>
			</ul>
		</div>
		<div class="col span-1-of-3" id="logo">
			<p class="composer">Composer</p>
			<p class="ianarber"><a href="/index.html">Ian Arber</a></p>
			<p class="film">Film &middot; Television</p>
		</div>
		<div class="col span-1-of-3 main-nav">
			<ul class="menu-list-2">
				<li class="menu-items-2"><a href="/credits.html">Credits</a></li>
				<li class="menu-items-2"><a href="#">Contact</a></li>
				<li class="menu-items-2"><a href="/clientarea.html">Client Area</a></li>
			</ul>
		</div>
		
		<!-- nav toggle will only be visable after defined pixel width -->
		<a href="#" id="nav-toggle"><i class="flaticon-music"></i></a>
	</div>
</header>