<!-- header section - uses grid.css (http://www.responsivegridsystem.com/) to 
form 3 column layout -->

<header id="header">
	<div>
		<div class="col span-1-of-3 main-nav">
			<ul class="menu-list-1">
				<li class="menu-items-1"><a href="#">Home</a></li>
				<li class="menu-items-1"><a href="#">Credits</a></li>
				<li class="menu-items-1"><a href="#">Listen</a></li>
			</ul>
		</div>
		<div class="col span-1-of-3" id="logo">
			<p class="composer">Composer</p>
			<p class="ianarber">Ian Arber</p>
			<p class="film">Film &middot; Television</p>
		</div>
		<div class="col span-1-of-3 main-nav">
			<ul class="menu-list-2">
				<li class="menu-items-2"><a href="#">News</a></li>
				<li class="menu-items-2"><a href="#">Client Area</a></li>
				<li class="menu-items-2"><a href="#">About</a></li>
			</ul>
		</div>
		
		<!-- nav toggle will only be visable after defined pixel width -->
		<a href="#" id="nav-toggle"><i class="flaticon-music"></i></a>
		
	</div>
</header>