<!-- mobile menu structure -->

<nav class="mobile-nav">
	<ul class="mobile-nav-list">
	    <!--TODO: check links work -->
		<li class="mobile-nav-item"><a href="/">Home</a></li>
		<li class="mobile-nav-item"><a href="/about">About</a></li>
		<li class="mobile-nav-item"><a href="/listen">Listen</a></li>
		<li class="mobile-nav-item"><a href="/credits">Credits</a></li>
		<li class="mobile-nav-item"><a href="/contact">Contact</a></li>
		<li class="mobile-nav-item"><a href="/clientarea" class="client-area-btn">Client Area</a></li>
	</ul>
</nav>
