<!-- mobile menu structure -->

<nav class="mobile-nav">
	<ul class="mobile-nav-list">
	    <!--TODO: check links work -->
		<li class="mobile-nav-item"><a href="/index.html">Home</a></li>
		<li class="mobile-nav-item"><a href="/about.html">About</a></li>
		<li class="mobile-nav-item"><a href="/listen.html">Listen</a></li>
		<li class="mobile-nav-item"><a href="/credits.html">Credits</a></li>
		<li class="mobile-nav-item"><a href="/contact.html">Contact</a></li>
		<li class="mobile-nav-item"><a href="/clientarea.html">Client Area</a></li>
	</ul>
</nav>