<section class="section news">
	<div class="section-header">
		<h4>Latest News</h4>
	</div>
	
	<div class="news-container">
		<article class="news-preview">
			{% for post in site.posts limit:1 %}
			<figure>
				<img src="{{ post.thumbnail }}" alt="Cast Photo"/>
			</figure>
			<a href="{{ post.url }}">{{ post.title }}</a>
			{{ post.excerpt }}
			<div class="post-byline">
			    <ul class="fa-ul">
			        <li><i class="fa-li fa fa-calendar-o"></i>{{ post.date | date_to_string }}</li>
			        <li><i class="fa-li fa fa-tag"></i>{{ post.categories }}</li>
			    </ul>
			</div>	
			{% endfor %}
		</article>
		<article class="news-preview">
			{% for post in site.posts offset:1 limit:1 %}
			<figure>
				<img src="{{ post.thumbnail }}" alt="Cast Photo"/>
			</figure>
			<a href="{{ post.url }}">{{ post.title }}</a>
			{{ post.excerpt }}
			<div class="post-byline">
			    <ul class="fa-ul">
			        <li><i class="fa-li fa fa-calendar-o"></i>{{ post.date | date_to_string }}</li>
			        <li><i class="fa-li fa fa-tag"></i>{{ post.categories }}</li>
			    </ul>
			</div>	
			{% endfor %}
		</article>
		<article class="news-preview">
			{% for post in site.posts offset:2 limit:1 %}
			<figure>
				<img src="{{ post.thumbnail }}" alt="Cast Photo"/>
			</figure>
			<a href="{{ post.url }}">{{ post.title }}</a>
			{{ post.excerpt }}
			<div class="post-byline">
			    <ul class="fa-ul">
			        <li><i class="fa-li fa fa-calendar-o"></i>{{ post.date | date_to_string }}</li>
			        <li><i class="fa-li fa fa-tag"></i>{{ post.categories }}</li>
			    </ul>
			</div>	
			{% endfor %}
		</article>
		<article class="news-preview">
			{% for post in site.posts offset:3 limit:1 %}
			<figure>
				<img src="{{ post.thumbnail }}" alt="Cast Photo"/>
			</figure>
			<a href="{{ post.url }}">{{ post.title }}</a>
			{{ post.excerpt }}
			<div class="post-byline">
			    <ul class="fa-ul">
			        <li><i class="fa-li fa fa-calendar-o"></i>{{ post.date | date_to_string }}</li>
			        <li><i class="fa-li fa fa-tag"></i>{{ post.categories }}</li>
			    </ul>
			</div>	
			{% endfor %}
		</article>
	</div>
	
	<div id="social-feeds">
	    <div id="twitterfeed">
	        <a class="twitter-timeline" href="https://twitter.com/IanArber" data-widget-id="337516631238533120"></a>
	    </div>
	    <div id="instafeed">
	    	<iframe src="//lightwidget.com/widgets/6b64c711a9c556be823e9eefa95a68d9.html" id="lightwidget_6b64c711a9" name="lightwidget_6b64c711a9" scrolling="no" allowtransparency="true" id="lightwidget-widget" style="border: 0"></iframe>  
	    </div>
	    
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div class="section-footer">
		<a href="#">Read more</a>
	</div>
	
	
</section>