<section class="thank-you">
    <div>
        <p>Ah no! We can't find what you're looking for</p>
        <i class="fa fa-frown-o"></i>
        
        <hr>
        
        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/168128556&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        
        <a href="/index.html"><button class="main-btn-style">Home</button></a>
    </div>
</section>