<!-- script files to include -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="//lightwidget.com/widgets/lightwidget.js"></script>
<script type="text/javascript" src="/assets/script/jquery.waypoints.js"></script>
<script type="text/javascript" src="/assets/script/mobileMenu.js"></script>
<script type="text/javascript" src="/assets/script/collapseHeader.js"></script>
<script type="text/javascript" src="/assets/script/audioPlayer.js"></script>
<script type="text/javascript" src="/assets/script/posterOverlay.js"></script>
<script type="text/javascript" src="/assets/script/twitter.js"></script>
<script type="text/javascript" src="/assets/script/quoteSlider.js"></script>