<section class="section portfolio-background">
	<div class="portfolio">
		<div class="col span-3-of-5 movie-posters">
			<div class="row poster-row">
				<div class="col span-1-of-3 poster" onmouseout="stopPlayer('player')">
					<figure class="poster-figure">
						<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
						<figcaption class="poster-caption">
							<div>
								<p>Assistant Composer</p>
								<br/>
								<p>2015</p>
								<audio id="player">
									<source src="assets/media/sample.ogg" type="audio/ogg">
									<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
								</audio>
								<div class="controls">
									<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
									<i class="fa fa-stop-circle-o" onclick="document.getElementById('player').pause()"></i>
								</div>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="col span-1-of-3 poster">
					<figure class="poster-figure">
						<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="The Window Poster" />
						<figcaption class="poster-caption">
							<div>
								<p>Assistant Composer</p>
								<br/>
								<p>2015</p>
								<audio id="player">
									<source src="assets/media/sample.ogg" type="audio/ogg">
									<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
								</audio>
								<div class="controls">
									<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
									<i class="fa fa-stop-circle-o" onclick="document.getElementById('player').pause()"></i>
								</div>
							</div>
						</figcaption>
					</figure>
				</div>



				<div class="col span-1-of-3 poster">
					<figure class="poster-figure">
						<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="Kia Poster" />
						<figcaption class="poster-caption">
							<div>
								<p>Assistant Composer</p>
								<br/>
								<p>2015</p>
								<audio id="player">
									<source src="assets/media/sample.ogg" type="audio/ogg">
									<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
								</audio>
								<div class="controls">
									<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
									<i class="fa fa-stop-circle-o" onclick="document.getElementById('player').pause()"></i>
								</div>
							</div>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="row poster-row">
				<div class="col span-1-of-3 poster">
					<figure class="poster-figure">
						<img src="assets/img/the-window-poster.jpg" alt="The Window Poster" />
						<figcaption class="poster-caption">
							<div>
								<p>Assistant Composer</p>
								<br/>
								<p>2015</p>
								<audio id="player">
									<source src="assets/media/sample.ogg" type="audio/ogg">
									<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
								</audio>
								<div class="controls">
									<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
									<i class="fa fa-stop-circle-o" onclick="document.getElementById('player').pause()"></i>
								</div>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="col span-1-of-3 poster">
					<figure class="poster-figure">
						<img src="assets/img/the-choices-we-make-poster.jpg" alt="The Choices We Make Poster" />
						<figcaption class="poster-caption">
							<div>
								<p>Assistant Composer</p>
								<br/>
								<p>2015</p>
								<audio id="player">
									<source src="assets/media/sample.ogg" type="audio/ogg">
									<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
								</audio>
								<div class="controls">
									<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
									<i class="fa fa-stop-circle-o" onclick="document.getElementById('player').pause()"></i>
								</div>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="col span-1-of-3 poster">
					<img src="assets/img/Mission-Impossible-Rogue-Nation-IMAX-Poster.jpeg" alt="MI5 Poster" />
				</div>
			</div>

			<div class="row poster-row">
				<div class="col span-1-of-3 poster">
					<img src="assets/img/Mission-Impossible-Rogue-Nation-IMAX-Poster.jpeg" alt="MI5 Poster" />
				</div>
				<div class="col span-1-of-3 poster">
					<img src="assets/img/Mission-Impossible-Rogue-Nation-IMAX-Poster.jpeg" alt="MI5 Poster" />
				</div>
				<div class="col span-1-of-3 poster">
					<img src="assets/img/Mission-Impossible-Rogue-Nation-IMAX-Poster.jpeg" alt="MI5 Poster" />
				</div>
			</div>
		</div>
		
		<div class="col span-2-of-5 movie-info">
		
		</div>
		
	</div>
</section>








