<section class="section showreel-background">
	<div class="row poster-row">
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
	</div>
	
	<div class="row poster-row">
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="col span-1-of-5 poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<p>Assistant Composer</p>
						<br/>
						<p>2015</p>
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i class="fa fa-play" onclick="document.getElementById('player').play()"></i>
							<i class="fa fa-step-forward" onclick="document.getElementById('player').pause()"></i>
							<i class="fa fa-info"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
	</div>
	
	
	
		
</section>

