<section class="section showreel">
    <div class="showreel-background">
        <div class="row container">
            <div class="col span-1-of-2 movie-posters">
                <div class="row poster-row">
                    <div class="col span-1-of-3 poster">
                        <img src="assets/img/movie-poster-hole.jpg" alt=""/>
                    </div>
                    <div class="col span-1-of-3 poster">
                        <img src="assets/img/movie-poster-dolls.jpg" alt=""/>
                    </div>
                    <div class="col span-1-of-3 poster">
                        <img src="assets/img/movie-poster-kia.jpg" alt=""/>
                    </div>
                </div>
                <div class="row poster-row">
                    <div class="col span-1-of-3 poster">
                        <img src="assets/img/movie-poster-paelo.jpg" alt=""/>
                    </div>
                    <div class="col span-1-of-3 poster">
                        <img src="assets/img/movie-poster-mi5.jpg" alt=""/>
                    </div>
                    <div class="col span-1-of-3 poster">
                        <img src="assets/img/movie-poster-reunion.jpg" alt=""/>
                    </div>
                </div>
                <div class="row poster-row">
                    <div class="col span-1-of-3 poster">
                        <img src="assets/img/movie-poster-windo.jpg" alt=""/>
                    </div>
                    <div class="col span-1-of-3 poster">
                        <img src="assets/img/movie-poster-indifferent.jpg" alt=""/>
                    </div>
                    <div class="col span-1-of-3 poster">
                        <img src="assets/img/movie-poster-scottandsid.jpg" alt=""/>
                    </div>
                </div>
            </div>
            
            
            
            
            <div class="col span-1-of-2 movie-info">
                
            </div>
        </div>
    </div>
</section>