<section class="section listen-grid">
    <div class="section-header">
        <h1>Listen</h1>
    </div>

    <div class="listen-wrapper">
        <i id="arrow" class="fa fa-arrow-circle-right"></i><p id="menu-info">Filter by Genre</p>
        <nav class="genre-menu">
            <ul id="genres">
                <h5>Filter Genre</h5>
                <li id="genres-all" class="added" rel="sc-audio">All</li>
                
                {% for playlists in site.data.listen.playlists %}
                
                <li id="genres-{{ playlists.classname }}" rel="sc-{{ playlists.classname }}">{{ playlists.genre }}</li>
                
                {% endfor %}

            </ul>
            <ul id="categories">
                <h5>Scroll to Category</h5>
                <li id="cat-play" rel="sc-play">Playlists</li>
                <li id="cat-ffilms" rel="sc-ffilms">Features Films</li>
                <li id="cat-sfilms" rel="sc-sfilms">Short Films</li>
                <li id="cat-tv" rel="sc-tv">TV/Documentary</li>
            </ul>
        </nav>
        
       
        <div id="listen-gallery">
            <ul class="listen-grid-elements">
<!--                <div class="playlist-header sc-play">Playlists</div><hr>-->
                <h2 class="playlist-header sc-play">Playlists</h2><hr>

                {% for playlists in site.data.listen.playlists %}

                <li class="sc-audio sc-{{ playlists.classname }}">
                    <div class="bg-iframe">
                        <div class="bg-iframe-info">
                            <h5>{{ playlists.genre }}</h5>
                            <p>{{ playlists.featuring }}</p>
                        </div>
                        <img src="assets/img/sc-previews/playlist-drama.jpg" alt="SC Widget Preview"/>
                        <i class="fa fa-play-circle-o"></i>
                        <iframe id="widget-{{ playlists.classname }}" class="play-frame" src="/blank.html" data-src="{{ playlists.soundcloud }}"></iframe>                          
                        <div class="fg-cover"></div>
                    </div>                     
                </li>

                {% endfor %}

            </ul>

            <div class="listen-clear"></div>
            
            <a href="/contact.html"><button class="main-btn-style">Contact Me</button></a>

            <p id="expand-wrapper"><i id="see-more" class="fa fa-arrow-circle-o-down"></i></p>
           
            <div id="listen-more-expand">
                <ul class="listen-grid-elements">
                    <h2 class="playlist-header sc-play">Feature Films</h2><hr>

                    {% for featurefilms in site.data.listen.featurefilms %}

                    <li class="sc-audio sc-{{ featurefilms.classname }}">
                        <div class="bg-iframe film-tv">
                            <div class="bg-iframe-info">
                                <h5>{{ featurefilms.title }}</h5>
                                <p>{{ featurefilms.genre }}, {{ featurefilms.year }}</p>
                                <p>Directed by {{ featurefilms.director }}</p>
                            </div>
                            <i class="fa fa-play-circle-o"></i>
    <!--                            <img src="assets/img/sc-click-to-load.jpg" alt="soundcloud click to load"/>-->
                            <iframe id="widget-{{ featurefilms.shorttitle }}" class="filmtv-frame" src="/blank.html" data-src="{{ featurefilms.soundcloud }}"></iframe>                          
                        </div>                     
                    </li>

                    {% endfor %}

                </ul>

                <div class="listen-clear"></div>

                <ul class="listen-grid-elements">
                    <h2 class="playlist-header sc-play">Short Films</h2><hr>

                    {% for shortfilms in site.data.listen.shortfilms %}

                    <li class="sc-audio sc-{{ shortfilms.classname }}">
                        <div class="bg-iframe film-tv">
                            <div class="bg-iframe-info">
                                <h5>{{ shortfilms.title }}</h5>
                                <p>{{ shortfilms.genre }}, {{ shortfilms.year }}</p>
                                <p>Directed by {{ shortfilms.director }}</p>
                            </div>
                            <i class="fa fa-play-circle-o"></i>
    <!--                            <img src="assets/img/sc-click-to-load.jpg" alt="soundcloud click to load"/>-->
                            <iframe id="widget-{{ shortfilms.shorttitle }}" class="filmtv-frame" src="/blank.html" data-src="{{ shortfilms.soundcloud }}"></iframe>                                
                        </div>                     
                    </li>

                    {% endfor %}

                </ul>

                <div class="listen-clear"></div>

                <ul class="listen-grid-elements">
                    <h2 class="playlist-header sc-play">Television/Documentary</h2><hr>

                    {% for television in site.data.listen.television %}

                    <li class="sc-audio sc-{{ television.classname }}">
                        <div class="bg-iframe film-tv">
                            <div class="bg-iframe-info">
                                <h5>{{ television.title }}</h5>
                                <p>{{ television.genre }}, {{ television.year }}</p>
                                <p>Directed by {{ television.director }}</p>
                            </div>
                            <i class="fa fa-play-circle-o"></i>
    <!--                            <img src="assets/img/sc-click-to-load.jpg" alt="soundcloud click to load"/>-->
                            <iframe id="widget-{{ television.shorttitle }}" class="filmtv-frame" src="/blank.html" data-src="{{ television.soundcloud }}"></iframe>                          
                        </div>                     
                    </li>

                    {% endfor %}

                </ul>
                
                <div class="listen-clear"></div>
                <a href="/contact.html"><button class="main-btn-style">Contact Me</button></a>
                
            </div>
        </div>
           
           
           
        

    </div>


</section>