<section class="section listen-grid">
    <div class="section-header">
        <h4>Listen</h4>
    </div>

    <div class="listen-wrapper">
        <div id="arrow"><i class="fa fa-arrow-right"></i></div>
        <nav class="genre-menu">
            <ul id="genres">
                <h5>Genres</h5>
                <li id="genres-all" class="added" rel="sc-audio">All</li>
                
                {% for playlists in site.data.listen.playlists %}
                
                <li id="genres-{{ playlists.classname }}" rel="sc-{{ playlists.classname }}">{{ playlists.genre }}</li>
                
                {% endfor %}

            </ul>
            <ul id="categories">
                <h5>Categories</h5>
                <li id="cat-play" rel="sc-play">Playlists</li>
                <li id="cat-ffilms" rel="sc-ffilms">Features Films</li>
                <li id="cat-sfilms" rel="sc-sfilms">Short Films</li>
                <li id="cat-tv" rel="sc-tv">TV/Documentary</li>
            </ul>
<!--            <div><i class="fa fa-arrow-right"></i></div>-->
        </nav>
        
       
        <div id="listen-gallery" class="grid-gallery">
            <section class="grid-wrap">
                <ul class="grid">
                    <div class="playlist-header sc-play">Playlists</div><hr>
                
                    {% for playlists in site.data.listen.playlists %}
                   
                    <li class="sc-audio sc-{{ playlists.classname }}">
                        <div class="bg-iframe">
                            <div class="bg-iframe-info">
                                <h5>{{ playlists.genre }}</h5>
                                <p>{{ playlists.featuring }}</p>
                            </div>
                            <img src="assets/img/sc-click-to-load.jpg" alt="soundcloud click to load"/>
                            <iframe class="play-frame" src="about:blank" data-src="{{ playlists.soundcloud }}"></iframe>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>Playlist</p>
                                    <p>&#45;</p>
                                    <p>{{ playlists.genre }}</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                    
                    {% endfor %}
               
                </ul>
                
                <div class="listen-clear"></div>
                
                <ul class="grid">
                    <div class="playlist-header sc-ffilms">Feature Films</div><hr>
                    
                    {% for featurefilms in site.data.listen.featurefilms %}
                   
                    <li class="sc-audio sc-{{ featurefilms.classname }}">
                        <div class="bg-iframe film-tv">
                            <div class="bg-iframe-info">
                                <h5>{{ featurefilms.title }}</h5>
                                <p>{{ featurefilms.genre }}, {{ featurefilms.year }}</p>
                                <p>Directed by {{ featurefilms.director }}</p>
                            </div>
                            <img src="assets/img/sc-click-to-load.jpg" alt="soundcloud click to load"/>
                            <iframe class="filmtv-frame" src="about:blank" data-src="{{ featurefilms.soundcloud }}"></iframe>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>{{ featurefilms.title }}</p>
                                    <p>&#45;</p>
                                    <p>{{ featurefilms.genre }}</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                    
                    {% endfor %}
                    
                </ul>
                
                <div class="listen-clear"></div>
                
                <ul class="grid">
                    <div class="playlist-header sc-sfilms">Short Films</div><hr>
                    
                    {% for shortfilms in site.data.listen.shortfilms %}
                   
                    <li class="sc-audio sc-{{ shortfilms.classname }}">
                        <div class="bg-iframe film-tv">
                            <div class="bg-iframe-info">
                                <h5>{{ shortfilms.title }}</h5>
                                <p>{{ shortfilms.genre }}, {{ shortfilms.year }}</p>
                                <p>Directed by {{ shortfilms.director }}</p>
                            </div>
                            <img src="assets/img/sc-click-to-load.jpg" alt="soundcloud click to load"/>
                            <iframe id="filmtv-frame" src="about:blank" data-src="{{ shortfilms.soundcloud }}"></iframe>      
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>{{ shortfilms.title }}</p>
                                    <p>&#45;</p>
                                    <p>{{ shortfilms.genre }}</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                    
                    {% endfor %}
                    
                </ul>
                
                <div class="listen-clear"></div>
                
                <ul class="grid">
                    <div class="playlist-header sc-tv">Television/Documentary</div><hr>
                    
                    {% for television in site.data.listen.television %}
                   
                    <li class="sc-audio sc-{{ television.classname }}">
                        <div class="bg-iframe film-tv">
                            <div class="bg-iframe-info">
                                <h5>{{ television.title }}</h5>
                                <p>{{ television.genre }}, {{ television.year }}</p>
                                <p>Directed by {{ television.director }}</p>
                            </div>
                            <img src="assets/img/sc-click-to-load.jpg" alt="soundcloud click to load"/>
                            <iframe id="filmtv-frame" src="about:blank" data-src="{{ television.soundcloud }}"></iframe>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>{{ television.title }}</p>
                                    <p>&#45;</p>
                                    <p>{{ television.genre }}</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                    
                    {% endfor %}
                    
                </ul>
            </section>
        </div>
           
           
           
        

    </div>


</section>