<section class="section listen-mason-grid ff-container">
    <div class="section-header">
        <h4>Listen</h4>
    </div>

    <div class="row">
        <div class="genre-menu col span-1-of-6">
            <ul id="genres">
                <li id="genres-all">All
<!--                    <input id="select-type-all" name="radio-set-1" type="radio" class="ff-selector-type-all" checked="checked" />-->
<!--                    <label for="select-type-all" class="ff-label-type-all">All</label>-->
                </li>
                <li id="genres-drama">Drama
<!--                    <input id="select-type-1" name="radio-set-1" type="radio" class="ff-selector-type-1" />-->
<!--                    <label for="select-type-1" class="ff-label-type-1">Drama</label>-->
                </li>
                <li id="genres-actadv">Action/Adventure
<!--                    <input id="select-type-2" name="radio-set-1" type="radio" class="ff-selector-type-2" />-->
<!--                    <label for="select-type-2" class="ff-label-type-2">Action/Adventure</label>-->
                </li>
                <li id="genres-epic">Epic
<!--                    <input id="select-type-3" name="radio-set-1" type="radio" class="ff-selector-type-3" />-->
<!--                    <label for="select-type-3" class="ff-label-type-3">Epic</label>-->
                </li>
                <li id="genres-horror">Horror
<!--                    <input id="select-type-3" name="radio-set-1" type="radio" class="ff-selector-type-3" />-->
<!--                    <label for="select-type-3" class="ff-label-type-3">Horror</label>-->
                </li>
                <li id="genres-romfan">Romantic/Fantasy
<!--                    <input id="select-type-3" name="radio-set-1" type="radio" class="ff-selector-type-3" />-->
<!--                    <label for="select-type-3" class="ff-label-type-3">Romantic/Fantasy</label>-->
                </li>
                <li id="genres-elec">Electronic
<!--                    <input id="select-type-3" name="radio-set-1" type="radio" class="ff-selector-type-3" />-->
<!--                    <label for="select-type-3" class="ff-label-type-3">Electronic</label>-->
                </li>
            </ul>
        </div>

       
        <div class="qwe col span-5-of-6">
            <ul class="ff-items">
                <li class="sc-audio sc-actadv">
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3250282&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </li>
                
                
                
                
                
                
                
                
<!--
                <li class="sc-audio sc-drama">
                    <a href="#">
                        <span>Tutorials (wip)</span>
                        <img src="/assets/img/test/2.jpg" />
                    </a>
                </li>
                <li class="sc-audio sc-drama">
                    <a href="#">
                        <span>Symplas website</span>
                        <img src="/assets/img/test/4.jpg" />
                    </a>
                </li>
                <li class="sc-audio sc-drama">
                    <a href="#">
                        <span>Event Planning</span>
                        <img src="/assets/img/test/9.jpg" />
                    </a>
                </li>
                <li class="sc-audio sc-actadv">
                    <a href="#">
                        <span>Cake</span>
                        <img src="/assets/img/test/6.jpg" />
                    </a>
                </li>
                <li class="sc-audio sc-actadv">
                    <a href="#">
                        <span>Flower</span>
                        <img src="/assets/img/test/3.jpg" />
                    </a>
                </li>
                <li class="sc-audio sc-epic">
                    <a href="#">
                        <span>TRON: Mobile version</span>
                        <img src="/assets/img/test/5.jpg" />
                    </a>
                </li>
                <li class="sc-audio sc-drama">
                    <a href="#">
                        <span>Tailoring accessories</span>
                        <img src="/assets/img/test/7.jpg" />
                    </a>
                </li>
                <li class="sc-audio sc-epic">
                    <a href="#">
                        <span>App icon</span>
                        <img src="/assets/img/test/8.jpg" />
                    </a>
                </li>
-->
            </ul>
        </div>

    </div>


</section>