<section class="section listen-grid">
    <div class="section-header">
        <h4>Listen</h4>
    </div>

    <div class="row listen-wrapper">
         <div class="genre-menu col span-1-of-6">
            <ul id="genres">
                <li id="genres-all">All</li>
                <li id="genres-drama">Drama</li>
                <li id="genres-actadv">Action/Adventure</li>
                <li id="genres-epic">Epic</li>
                <li id="genres-horror">Horror</li>
                <li id="genres-romfan">Romantic/Fantasy</li>
                <li id="genres-elec">Electronic</li>
            </ul>
        </div>
       
        <div id="listen-gallery" class="col span-5-of-6 grid-gallery">
            <section class="grid-wrap">
                <ul class="grid">
                    <div class="playlist-header">Playlists</div><hr>
                    
                    <li class="sc-audio sc-actadv">
                        <div class="bg-iframe">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3250282&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            <div class="bg-iframe-info">
                                <h5>To Save Ones Self</h5>
                                <p>Drama &middot; 2013</p>
                                <p>Directed by John Snow</p>
                            </div>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>To Save Ones Self</p>
                                    <p>&#45;</p>
                                    <p>Drama</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                    <li class="sc-audio sc-drama">
                        <div class="bg-iframe">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3250282&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            <div class="bg-iframe-info">
                                <h5>To Save Ones Self</h5>
                                <p>Drama &middot; 2013</p>
                                <p>Directed by John Snow</p>
                            </div>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>To Save Ones Self</p>
                                    <p>&#45;</p>
                                    <p>Drama</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                    <li class="sc-audio sc-actadv">
                        <div class="bg-iframe">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3250282&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            <div class="bg-iframe-info">
                                <h5>To Save Ones Self</h5>
                                <p>Drama &middot; 2013</p>
                                <p>Directed by John Snow</p>
                            </div>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>To Save Ones Self</p>
                                    <p>&#45;</p>
                                    <p>Drama</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                </ul>
                
                <div class="listen-clear"></div>
                
                <ul class="grid">
                    <div class="playlist-header">Films</div><hr>
                    <li class="sc-audio sc-epic">
                        <div class="bg-iframe">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3250282&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            <div class="bg-iframe-info">
                                <h5>To Save Ones Self</h5>
                                <p>Drama &middot; 2013</p>
                                <p>Directed by John Snow</p>
                            </div>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>To Save Ones Self</p>
                                    <p>&#45;</p>
                                    <p>Drama</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                    <li class="sc-audio sc-horror">
                        <div class="bg-iframe">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3250282&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            <div class="bg-iframe-info">
                                <h5>To Save Ones Self</h5>
                                <p>Drama &middot; 2013</p>
                                <p>Directed by John Snow</p>
                            </div>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>To Save Ones Self</p>
                                    <p>&#45;</p>
                                    <p>Drama</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                </ul>
                
                <ul class="grid">
                    <div class="playlist-header">Television</div><hr>
                    <li class="sc-audio sc-actadv">
                        <div class="bg-iframe">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3250282&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            <div class="bg-iframe-info">
                                <h5>To Save Ones Self</h5>
                                <p>Drama &middot; 2013</p>
                                <p>Directed by John Snow</p>
                            </div>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>To Save Ones Self</p>
                                    <p>&#45;</p>
                                    <p>Drama</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                    <li class="sc-audio sc-elec">
                        <div class="bg-iframe">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3250282&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            <div class="bg-iframe-info">
                                <h5>To Save Ones Self</h5>
                                <p>Drama &middot; 2013</p>
                                <p>Directed by John Snow</p>
                            </div>
                            <div class="fg-cover">
                                <div class="fg-cover-info">
                                    <p>To Save Ones Self</p>
                                    <p>&#45;</p>
                                    <p>Drama</p>
                                </div>
                            </div>                           
                        </div>                     
                    </li>
                </ul>
            </section>
        </div>
           
           
           
        

    </div>


</section>