<section class="section listen-grid">
    <div class="section-header">
        <h1>Listen</h1>
    </div>

    <div id="react-root"></div>

    <!-- <div class="listen-wrapper"> -->
        <!-- <div id="filter-wrapper"><i id="arrow" class="fa fa-arrow-circle-right"></i><p id="menu-info" data-swap="Filter Active" data-original="Filter by Genre">Filter by Genre</p></div>
        <nav class="genre-menu">
            <ul id="genres">
                <h5>Filter Genre</h5>
                <li id="genres-all" class="added" rel="sc-audio">All</li>
                
                {% for playlists in site.data.listen.playlists %}
                
                <li id="genres-{{ playlists.classname }}" rel="sc-{{ playlists.classname }}">{{ playlists.genre }}</li>
                
                {% endfor %}

            </ul>
            <ul id="categories">
                <h5>Scroll to Category</h5>
                <li id="cat-play" rel="sc-play">Playlists</li>
                <li id="cat-ffilms" rel="sc-ffilms">Films</li>
                <li id="cat-tv" rel="sc-tv">TV/Documentary</li>
            </ul>
        </nav> -->
        
       
        <!-- <div id="listen-gallery">
            <ul class="listen-grid-elements">
                <h2 class="playlist-header sc-play">Playlists</h2><hr> -->

                <!-- {% for playlists in site.listen %} -->

                <!-- <li class="sc-audio sc-{{ playlists.title }}">
                    <div class="bg-iframe spinner">
                        <div class="bg-iframe-info">
                            <h5>{{ playlists.genre }}</h5>
                            <p>{{ playlists.featuring }}</p>
                        </div> -->
<!--                        <img src="{{ site.myurl }}/assets/img/sc-previews/playlist-{{ playlists.classname }}.jpg" alt="SC Widget Preview"/>-->
<!--                        <i class="fa fa-play-circle-o"></i>-->
<!--                        <iframe id="widget-{{ playlists.classname }}" class="play-frame" src="/blank.html" data-src="{{ playlists.soundcloud }}"></iframe>                          -->
                        <!-- <iframe id="widget-{{ playlists.classname }}" class="play-frame" src="{{ playlists.soundcloud }}" data-src="{{ playlists.soundcloud }}"></iframe> -->
                        <!-- <iframe id="widget-{{ playlists.title }}" class="play-frame" src="{{ playlists.playlist_url }}"></iframe>                           -->
                        <!-- <div class="fg-cover"></div> -->
                    <!-- </div>                      -->
                <!-- </li> -->

                <!-- {% endfor %} -->

            <!-- </ul> -->

            <!-- <div class="listen-clear"></div> -->
            
            
            
            <!-- <h2 class="playlist-header sc-ffilms">Films</h2><hr>
            
            <p id="expand-wrapper"><i id="see-more" class="fa fa-arrow-circle-o-down"></i><span id="span-expand">Expand</span></p>
           
            <div id="listen-more-expand">
                <ul class="listen-grid-elements">

                    {% for films in site.data.listen.films %}

                    <li class="sc-audio sc-{{ films.classname }}">
                        <div class="bg-iframe film-tv">
                            <div class="bg-iframe-info">
                                <h5>{{ films.title }}</h5>
                                <p>{{ films.genre }}, {{ films.year }}</p>
                                <p>Directed by {{ films.director }}</p>
                            </div>
                            <i class="fa fa-play-circle-o"></i>
                            <iframe id="widget-{{ films.shorttitle }}" class="filmtv-frame" src="/blank.html" data-src="{{ films.soundcloud }}"></iframe>                          
                        </div>                     
                    </li>

                    {% endfor %}

                </ul>

                <div class="listen-clear"></div>

                <ul class="listen-grid-elements">
                    <h2 class="playlist-header sc-tv">Television/Documentary</h2><hr>

                    {% for television in site.data.listen.television %}

                    <li class="sc-audio sc-{{ television.classname }}">
                        <div class="bg-iframe film-tv">
                            <div class="bg-iframe-info">
                                <h5>{{ television.title }}</h5>
                                <p>{{ television.genre }}, {{ television.year }}</p>
                                <p>Directed by {{ television.director }}</p>
                            </div>
                            <i class="fa fa-play-circle-o"></i>
                            <iframe id="widget-{{ television.shorttitle }}" class="filmtv-frame" src="/blank.html" data-src="{{ television.soundcloud }}"></iframe>                          
                        </div>                     
                    </li>

                    {% endfor %}

                </ul>
                
                <div class="listen-clear"></div>
                <a href="/contact"><button class="main-btn-style">Contact Me</button></a>
                
            </div> -->
        <!-- </div> -->
    <a href="/contact"><button class="main-btn-style">Contact Me</button></a>
    <!-- </div> -->
</section>