<section class="section listen-submenu">
    <div class="section-header">
        <h4>Listen</h4>
    </div>
    
    <div class="listen-menu">
        <ul>
            <li>Drama</li>
            <li>&#124;</li>
            <li>Action/Adventure</li>
            <li>&#124;</li>
            <li>Epic</li>
            <li>&#124;</li>
            <li>Horror</li>
            <li>&#124;</li>
            <li>Romantic/Fantasy</li>
            <li>&#124;</li>
            <li>Electronic</li>
        </ul>
    </div>
    
</section>