.form{
    margin-bottom: 100px;
	background-color: $backgroundColor;
    i{
        border: 2px solid $mainFontColor;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover{
            background: $mainFontColor;
            color: $backgroundColor;
            transition: all 0.3s;
        }
    }
}

.contact-details{
    width: 90%;
    margin: 0 auto;

    .home-contact-agent-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

.direct,
.publicist,
.social,
.agent{
	text-align: center;
	h2{
		letter-spacing: 2px;
		font-size: 90%;
	}
	p{
		letter-spacing: 2px;
        font-weight: 300;
	}
}

.direct{
    margin-top: 25px;
    i{
        cursor: pointer;
        margin: 10px 0px;
        font-size: 110%;
        padding: 12px 12px;
    }
    p{
        font-size: 85%;
    }
    position: relative;
    /* will overlay when mail icon is clicked */
    #tooltip-form{
        position: absolute;
        opacity: 0;
        background: $backgroundColor;
        width: 100%;
        left: 4px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        pointer-events: none;
        transform: translateY(-30px);
        transition: all 0.2s ease-out;
        border: 2px solid $mainFontColor;
        border-radius: 3px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        &:after{
            border-left: solid transparent 10px;
            border-right: solid transparent 10px;
            border-bottom: solid $mainFontColor 10px;
            top: -10px;
            content: " ";
            margin-left: -14px;
            position: absolute;
        }
    }
}

#tooltip-form.active{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-20px);
}

#submit-form{
    padding: 10px;
    input,
    textarea{
        font-size: 70%;
        font-weight: 300;
        letter-spacing: 1px;
    }
    label{
        font-size: 70%;
        letter-spacing: 1px;
    }
    input[type=text],
    input[type=email]{
        width: 143px;
    }
    input[type=text],
    input[type=email],
    textarea{
        border-radius: 2px;
        padding: 5px;
        margin-bottom: 8px;
        outline: none;
    }
    input[type=text]{
        margin-right: 10px;
    }
    input[name=_gotcha]{
        display: none;
    }
    textarea{
        width: 310px;
        height: 120px;
        resize: none;
    }
    div:nth-child(2) *{
        vertical-align: middle;    
    }
    input[type=submit]{
        padding: 3px 6px;
        margin-left: 2px;
        font-weight: 500;
        text-align: center;
        font-size: 70%;
        letter-spacing: 0.2px;
        border-radius: 2px;
        border: 1px solid $mainFontColor;
        outline: none; 
        width: 50px;
        background-color: #efefef;
        &:hover{
            transition: box-shadow 0.3s;
            box-shadow: 0px 0px 1px 1px;
        }
    }
    #submit-break{
        display: none;
    }
}


.border-colour{
    border: 1px solid $mainFontColor;
}
.tooltip-notvalid{
    border: 1px solid #d31515;
}

.form .social{
    margin-top: 15px;
    .social-icons{
        margin-top: 10px;
        div:not(:last-child){
            margin-right: 10px;
        }
        div:last-of-type{
            margin-bottom: 8px;
            i{
                font-size: 65%;
            }
        }
    }
}

.agent,
.publicist{
	margin: 10px;
	h6{
		margin-top: 10px;
		font-size: 75%;
	}
	p{
		font-size: 85%;
	}
	i{
		margin-top: 10px;
        margin-bottom: 5px;
		border: none;
		&:hover{
			background: $backgroundColor;
            color: $mainFontColor;
		}
	}
}

.publicist-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        margin: 0 10px;
    }
}