.form{
	height: 400px;
	background-color: $backgroundColor;
    i{
        border: 2px solid $mainFontColor;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover{
            background: $mainFontColor;
            color: $backgroundColor;
            transition: all 0.3s;
        }
    }
}

.direct,
.social,
.agent{
	text-align: center;
}

.direct {
    margin-top: 10px;
    i{
        margin: 10px 0px;
        font-size: 110%;
        padding: 12px 12px;
    }
    p{
        font-size: 85%;
    }

}

.social{
    margin-top: 20px;
}


.social-icons{
	width: 50%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	font-size: 150%;
	display: flex;
	align-items: center;
	justify-content: center;
	div{
   
		text-align: center;
		flex: auto;
	}

}

.social-icons{
    div:nth-child(1){
        i{ padding: 12px 18px; }
    }
    div:nth-child(2){
        i{ padding: 12px 14px; }
    }
    div:nth-child(3){
        i{ padding: 12px 8px; }
    }
    div:nth-child(4){
        i{ padding: 12px 15px; }
    }
    div:nth-child(5){
        i{ padding: 12px 14px; }
    }
    div:nth-child(6){
        i{ padding: 12px 14px; }
    }
}




.agent{
	margin-top: 25px;
}




























































/* .form{
	height: 400px;
	background-color: $backgroundColor;
}

.contact-form{
	width: 90%;
	font-size: 85%;
	margin-top: -5px;
	margin-left: auto;
	margin-right: auto;
}

.direct-contact{
	padding-right: 10px;
	padding-left: 10px;
	input[type=text],
	input[type=email],
	textarea{
		width: 100%;
		font-size: 75%;
		padding: 5px;
		border-radius: 3px;
		border: 1px solid $mainFontColor;
	}
}

input[type=submit]{

	//margin: 15px auto 5px auto;
	padding: 2px 0px;
	width: 80px;
	text-transform: uppercase;
	font-size: 85%;

	
	border: 1px solid $mainFontColor;
	border-radius: 3px;
	background: none;
	
	
	&:hover{
		background-color: $mainFontColor;
		color: #efefef;
		transition: all 0.3s;
	}
}

.agent-contact{
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 25px;
	h4,h5{
		text-align: center;
	}	
	h5{
		margin: 20px 0;
	}	
	ul{
		font-size: 90%;
		margin-top: 10px;
		margin-left: 80px;
		li{
			text-align: center;
			margin-bottom: 8px;
		}
	}
}

#sma-link{
	font-size: 90%;
	margin-top: 3px;
	text-align: center;
	a{
		padding: 2px 6px;
		transition: all 0.3s;
		&:hover{
			background-color: $mainFontColor;
			color: #efefef;
			transition: all 0.3s;
		}
	}
}




 */



/* 	div{
		font-size: 95%;
		width: 50%;
		margin: 0 auto;
		&:hover{
			background-color: $mainFontColor;
			color: #efefef;
			transition: all 0.3s;
		}
	} */





