.form{
	height: 380px;
	background-color: $backgroundColor;
    i{
        border: 2px solid $mainFontColor;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover{
            background: $mainFontColor;
            color: $backgroundColor;
            transition: all 0.3s;
        }
    }
}

.contact-details{
    width: 90%;
    margin: 0 auto;
}



.direct,
.social,
.agent{
	text-align: center;
	h5{
		letter-spacing: 2px;
		font-size: 90%;
	}
	p{
		letter-spacing: 2px;
	}
}

.direct{
    margin-top: 25px;
    i{
        margin: 10px 0px;
        font-size: 110%;
        padding: 12px 12px;
    }
    p{
        font-size: 85%;
    }

}

.form .social{
    margin-top: 25px;
    .social-icons{
        margin-top: 10px;
        div:not(:last-child){
            margin-right: 10px;
        }
    }
}


.agent{
	margin-top: 15px;
	h6{
		margin-top: 10px;
		font-size: 75%;
	}
	p{
		font-size: 85%;
	}
	i{
		margin-top: 8px;
		border: none;
		&:hover{
			background: $backgroundColor;
            color: $mainFontColor;
		}
	}
}

