.intro{
	position: relative;
	top: 85px;
	height: 580px;
	background-color: #efefef;
	border-top: 1px solid #efefef;
}

.intro .social{
	margin-top: 550px;
}

/**futher stylings in globals.scss**/
.profile-pic{
    width: 90%;
    /* TODO: get actual background images */
	//background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/home-header-img/quacks.jpg);
	background-size: cover;
	background-position: top;
    margin-top: 30px;
    overflow-y: hidden;
    img{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }
}

.profile-pic{	
	#welcome-intro{
		position: absolute;
		top: 35px;
		left: 40px;
		width: auto;
		margin-right: 40px;
		padding: 0 8px;
		font-size: 160%;
		font-weight: 600;
		word-spacing: 1px;
        letter-spacing: 1px;
		text-transform: uppercase;
		background-color: rgba(242, 242, 242, 0.8);
		color: rgba(0, 0, 0, 0.8);
	}
	#welcome-text{
		position: absolute;
		margin-top: 3px;
		margin-left: 30px;
		font-size: 60%;
		font-weight: 300;
        letter-spacing: 0.5px;
		width: 75%;
		padding: 2px 8px;
		background-color: rgba(242, 242, 242, 0.8);
	}
	#quote{
		position: absolute;
		color: #f2f2f2;
		bottom: 50px;
		right: 20px;
		margin-left: 20px;
		width: auto;
		font-size: 90%;
        letter-spacing: 0.5px;
		padding: 3px 8px;
		text-align: right;
		background-color: rgba(0, 0, 0, 0.8);
        opacity: 1;
	}
	#cite{
		position: absolute;
		color: #f2f2f2;
		bottom: 20px;
		right: 50px;
		width: auto;
		font-size: 80%;
        letter-spacing: 0.5px;
		padding: 3px 8px;
		text-align: right;
		background-color: rgba(0, 0, 0, 0.8);
	}
}


#slider-container{
    
}




#nav-scroll-btns {
    margin-top: 540px;
}









