.intro{
	position: relative;
	top: 85px;
	min-height: 565px;
	background-color: #efefef;
	border-top: 1px solid #efefef;
    h1,h2{
        font-size: 100%;
    }
    h2{
        font-weight: 300;
    }
}

.intro .social{
	margin-top: 550px;
}

/**futher stylings in globals.scss**/

.profile-pic{	
    width: 96%;
    min-height: 450px;
	#welcome-intro{
		position: absolute;
        z-index: 2;
		top: 35px;
		left: 40px;
		width: auto;
		margin-right: 40px;
		padding: 0 8px;
		font-size: 230%;
		font-weight: 600;
		word-spacing: 1px;
        letter-spacing: 2px;
		text-transform: uppercase;
        background-color: rgba(242, 242, 242, 0.6);
        color: rgba(0, 0, 0, 0.8);
	}
	#welcome-text{
		position: absolute;
        z-index: 2;
		margin-top: 3px;
		margin-left: 30px;
		font-size: 60%;
		font-weight: 300;
        letter-spacing: 0.5px;
		width: 75%;
		padding: 2px 8px;
		background-color: rgba(242, 242, 242, 0.6);
        color: rgba(0, 0, 0, 0.8);
	}
	#quote{
		position: absolute;
        z-index: 2;
		color: #f2f2f2;
		bottom: 55px;
		right: 20px;
		margin-left: 20px;
		width: auto;
		font-size: 120%;
        letter-spacing: 0.5px;
		padding: 3px 8px;
		text-align: right;
		background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
	}
	#cite{
		position: absolute;
        z-index: 2;
		color: #f2f2f2;
		bottom: 20px;
		right: 50px;
		width: auto;
		font-size: 90%;
        letter-spacing: 0.5px;
		padding: 3px 8px;
		text-align: right;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.move-post-link{
    bottom: 20px;
}

.img-slide{
    a{
        position: absolute;
        z-index: 2;
        bottom: 140px;
        right: 20px;
        margin-left: 20px;
        padding: 3px 8px;
        font-size: 100%;
        font-weight: 600;
        word-spacing: 1px;
        letter-spacing: 1px;
        background-color: rgba(242, 242, 242, 0.6);
        color: rgba(0, 0, 0, 0.8);
    }
    i{
        position: absolute;
        z-index: 2;
        font-size: 500%;
        color: rgba(242, 242, 242, 0.7);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: color 0.3s;
        &:hover{
            cursor: pointer;
            color: rgba(242, 242, 242, 1);
            transition: color 0.3s;
        }
    }
    img{
        z-index: 1;
    }
    
    .video-wrapper{
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        iframe{
            border: none;
            //width: 800px;
            //height: 500px;
        }
    }
}

#nav-scroll-btns {
    top: 520px;
}












