.showreel-background{
	//background-image: url(../img/showreelBackground.png);
	//background-size: cover;
	//background-position: center;
	background-color: $backgroundColor;
	height: 910px;
	margin-top: 110px;
}

/* individual posters will flex expand when width increases */
.poster-row{
	margin: 0 auto;
	//max-width: 1500px;
	max-width: 95%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	.poster{
		float: left;
		flex: auto;
		min-width: 200px;
		max-width: 200px;
		margin-top: 20px;
		margin-right: 10px;
		&:first-child{
			margin-left: 10px;
		}
	}
	img{
		position: relative;
		z-index: 1;
		width: 200px;
		transition: transform 1s;
	}
}

.poster-figure{
	position: relative;
	z-index: 2;
	display: inline-block;
	overflow: hidden;
	max-height: 305px;
}

.poster-caption{
	display: block;
	position: absolute;
	z-index: 3;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: all 0.3s;
	color: $backgroundColor;
	font-size: 75%;
	ul{
		margin-top: 15px;
		margin-left: 70px;
	}
	#mi5-info{
		margin-left: 40px;
	}
	li{
		margin-top: 5px;
	}
	#seperator{
		width: 20%;
		height: 1px;
		margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
		background: $backgroundColor;
	}
	#credit-brief{
		margin-top: 15px;
		font-size: 85%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.controls{
		font-size: 350%;
		text-align: center;
		margin-top: -5px;
	}
	a{
		color: $backgroundColor;
		text-decoration: none;
	}
}

.poster .poster-caption{
	bottom: 0;
  	left: 0;
  	right: 0;
  	width: 100%;
  	height: 0;
}

.poster .poster-figure.hover .poster-caption{
	height: 100%;
}


.sc-player-frame{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}








/*********************************************************
-----------ORIGINAL MOUSE OVER STYLINGS-------------

.poster-caption{
	position: absolute;
	z-index: 3;
	top: 195px;
	left: -8px;
	p{
		display: inline-block;
		background: rgba(242, 242, 242, 1);
		color: rgba(0, 0, 0, 0.8);
		transform: translate3d(30px,0,0);
		margin: 0 0 2px;
    	padding: 3px 8px;
    	font-size: 75%;
		font-weight: 600;
		transition: transform 0.35s;
		transform: translate3d(-160px,0,0);
	}
	.controls{
		transform: translate3d(30px,0,0);
		transition: transform 0.35s;
		transform: translate3d(-160px,0,0);
		i{
			font-size: 120%;
			background: rgba(242, 242, 242, 1);
			color: rgba(0, 0, 0, 0.8);
			margin-top: 2px;
    		padding: 5px 10px;
			cursor: pointer;
		}
	}
}

.poster:hover .poster-caption p,
.poster:hover .poster-caption .controls{
	transform: translate3d(22px,0,0);
}
.poster:hover img{
	transform: scale3d(1.03,1.03,1);
}

//.poster:hover .poster-figure{
	//box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.8);
	//transition: box-shadow 0.5s;
//}

.poster-caption p:first-child{
	transition-delay: 0s;
}

.poster-caption p:nth-of-type(2){
	transition-delay: 0.05s;
}

.poster-caption .controls{
	transition-delay: 0.10s;
}



/***********************************************************/


