.showreel-background{
	background-color: $backgroundColor;
    height: auto;
	margin: 115px auto 20px auto;
	max-width: 1920px;
    .showreel-clear{
        clear: both;
    }
}

#imdb-logo{
    width: 90px;
    margin: 0 auto;
    margin-top: 10px;
    img{
        display: block;
        margin: 0 auto;
    }
}

/* individual posters will flex expand when width increases */
.poster-row{
	margin: 0 auto;
	max-width: 95%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	.poster{
		float: left;
		flex: auto;
		min-width: 200px;
		max-width: 200px;
		min-height: 305px;
		margin-top: 20px;
		margin-right: 10px;
		&:first-child{
			margin-left: 10px;
		}
	}
	img{
		position: relative;
		z-index: 1;
		//width: 200px;
		transition: transform 1s;
	}
}

.poster-figure{
	position: relative;
	z-index: 2;
	display: inline-block;
	overflow: hidden;
	max-height: 305px;
    border: 2px solid #e2e2e2;
    border-radius: 2px;
}

/* TODO: fix styling due to position changes using liquid template */
.poster-caption{
	display: block;
	position: absolute;
	z-index: 3;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: all 0.3s;
	color: $backgroundColor;
	font-size: 70%;
	ul{
		margin-top: 15px;
		margin-left: 60px;
	}
	li{
        white-space: nowrap;
		margin-top: 5px;
	}
	.seperator{
		width: 20%;
		height: 1px;
		margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
		background: $backgroundColor;
	}
	.credit-brief{
		margin-top: 15px;
		font-size: 95%;
        font-weight: 300;
        letter-spacing: 0.2px;
		padding-left: 15px;
		padding-right: 15px;
	}
    a{
        color: $backgroundColor;
        text-decoration: none;
    }
}


.controls{
    position: relative;
    font-size: 350%;
    text-align: center;
    margin-top: -5px;
    i{
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        width: 25%;
        margin: 0 auto;
        opacity: 0;
        cursor: none;
        pointer-events: none;
        transition: all 0.5s;
    }
}

.fa-play-circle.active,
.fa-stop-circle.active{
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
    transition: all 0.5s;
}



.poster .poster-caption{
	bottom: 0;
  	left: 0;
  	right: 0;
  	width: 100%;
  	height: 0;
}

.poster .poster-figure.hover .poster-caption{
	height: 100%;
}

.sc-player-frame{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.showreel-background iframe{
    width: 80%;
    height: 450px;
}
