.footer{
	position: relative;
	height: 395px;
	background-color: #333;
	box-shadow: 0 0 2px 1px #222;
	color: #efefef;
    a{
        color: #efefef;
    }
}

/* set width equal to data-pos attribute. will need to be reduced as browser
width decreases */
.testimonials{
	position: absolute;
	width: 1055px;
	top: 5px;
	right: 0;
	left: 0;
	margin: 0 auto;
	#testimonial-container{
		width: 100%;
		//height: 88px;
		height: auto;
		overflow: hidden;
	}
	i{
		font-size: 75%;
	}
}

/* set width to 5 times the data-pos attribute value to fit 5 testimonials */
#testimonial-wrapper{
	width: 5275px;
	font-size: 70%;
	letter-spacing: 1px;
	transform: translate3d(0, 0, 0);
	transition: transform .5s ease-in-out;
}

.content{
    float: left;
    width: 1055px;
    height: 95px;
	background-color: #333;
	blockquote{
		width: 95%;
		margin: 0 auto;
		border-left: 4px solid #d1d1d1;
        color: #898989;
		padding: 8px 0;
		p{
			margin-left: 10px;
			font-weight: 300;
			font-style: italic;
		}
		footer{
			margin-top: 3px;
			margin-left: 30px;
		}
		a{
			color: #898989;
		}
	}
}

#right-quote{
    margin-top: -10px;
}

#navLinks {
	margin-top: -10px;
}

.footer-info,
.copyright{
	position: absolute;
	width: 100%;
	right: 0;
	left: 0;
	top: 160px;
	margin: 0 auto;
	text-align: center;
	h4{
		font-size: 80%;
		margin-bottom: 5px;
        letter-spacing: 1px;
	}
}

.foot-lower{
    top: 200px;
}

.foot-about{
	img{
		width: 50px;
        border: 2px solid #3c3c3c;
		border-radius: 50%;
	}
	p{
		font-size: 75%;
        font-weight: 300;
        padding: 0 30px;
        letter-spacing: 0.2px;
	}
    a{
        transition: color 0.3s;
        &:hover{
            transition: color 0.3s;
            color: #898989;
        }
    }
}

.foot-upper{
    top: 175px;
	ul{
		list-style: none;
		font-size: 75%;
	}
	li{
        display: inline-block;
		margin-bottom: 1px;
        margin-right: 5px;
        margin-left: 2px;
        letter-spacing: 1px;
	}
    a{
        transition: color 0.3s;
        &:hover{
            transition: color 0.3s;
            color: #898989;
        }
    }
}

.foot-social{
	.social-icons{
		margin-top: 40px;
		font-size: 100%;
		div:not(:last-child){
            margin-right: 10px;
        }
        i{
            border: 2px solid #efefef;
            border-radius: 50%;
            transition: all 0.3s;
            &:hover{
                background: #efefef;
                color: #333;
                transition: all 0.3s;
            }
        }
	}
}

.copyright{
	top: 365px;
	font-size: 60%;
	word-spacing: 1px;
    letter-spacing: 0.2px;
	color: #898989;
    a{
        color: #898989;
        transition: color 0.3s;
        &:hover{
            transition: color 0.3s;
            color: #efefef;
        }
    }
}