/*Colours*/
$backgroundColor: #fafafa;
$mainFontColor: #0d2f52;
/*Fonts*/
$mainFontSize: 20px;
//$mainFontStyle: 'Open Sans', sans-serif;
$mainFontStyle: 'Oswald', sans-serif;
$logoFontStyle: 'Droid Serif', serif;

/****************************FULL PAGE SELECTORS********************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $backgroundColor;
    font-size: $mainFontSize;
    font-family: $mainFontStyle;
    color: $mainFontColor;
    font-weight: 400;
    overflow-x: hidden;
  /*   &:before{
        content: "";
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        z-index: 100;
        box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    } */
}

a{
    text-decoration: none;
    color: $mainFontColor;
}

figure{
	margin: 0;
	padding: 0;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(49, 49, 49, 0.75), rgba(49, 49, 49, 0));
}

/*******CHANGE FONT SIZE OF FLATICON FONTS*******/

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-size: 40px;
}

.row{
	max-width: 1140px;
}

/**********************SOCIAL ICONS*********************/

.social-icons{
	width: 50%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 120%;
	display: flex;
	align-items: center;
	justify-content: center;
	div{ 
		text-align: center;
		flex: auto;
	}
}

.social-icons{
    div:nth-child(1){
        i{ padding: 12px 17px; }
    }
    div:nth-child(2){
        i{ padding: 12px 13px; }
    }
    div:nth-child(3){
        i{ padding: 12px 9px; }
    }
    div:nth-child(4){
        i{ padding: 12px 14px; }
    }
    div:nth-child(5){
        i{ padding: 12px 14px; }
    }
    div:nth-child(6){
        i{ padding: 12px 14px; }
    }
}

/***SOCIAL ICONS PULSE ANIMATION*****/

@keyframes pulse {
  25% {
	transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }
}

.pulse {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
}

.pulse:hover, .pulse:focus, .pulse:active {
	animation-name: pulse;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/**********************SECTION HEADERS AND FOOTERS*********************/

.section-header{
	text-transform: uppercase;
	text-align: center;
	padding-top: 17px;
	letter-spacing: 5px;
	h4{
		margin: 0 auto;
		display: table;
		white-space: nowrap;
		&:before, &:after{
			border-top: 2px solid $mainFontColor;
			content: '';
			display: table-cell;
			position: relative;
			top: 14px;
			width: 100px;
		}
		&:before { right: 2.5% };
		&:after { right: -1.5% };
	}
}

.section-footer{
	margin: 20px auto 5px auto;
	width: 130px;
	text-transform: uppercase;
	font-size: 75%;
	text-align: center;
    letter-spacing: 1px;
}

.section-footer a{
	padding: 3px 6px;
	transition: all 0.3s;
	&:hover{
		background-color: $mainFontColor;
		color: #efefef;
		transition: all 0.3s;
	}
}

/******************STYLINGS FOR IMAGE AND QUOTE SLIDER NAV BUTTONS*****************/

#navLinks,
#nav-scroll-btns {
    text-align: center;
	ul{
		display: inline-block;
	}
}

#navLinks ul li,
#nav-scroll-btns ul li{
    float: left;
    text-align: center;
    margin: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #898989;
    padding: 4px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#navLinks ul li:hover,
#nav-scroll-btns ul li:hover{
    background-color: #484848;
}

#navLinks ul li.active,
#nav-scroll-btns ul li.active{
    background-color: #d1d1d1;
    transition: background-color 0.3s;
    //color: #FFFFFF;
    outline-width: 7px;
}

/******************FEATURE IMAGE STYLINGS FOR HOME PAGE INTRO AND ABOUT PAGES*****************/

.profile-pic,
.bio-pic{
	position: absolute;
	height: 450px;
	margin: 0 auto;
	top: 50px;
	left: 0;
	right: 0;
	border: 4px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/**********************POST TEXT CONTAINER STYLINGS - NEWS AND ABOUT PAGES*********************/


.post-container{
	width: 70%;
	height: auto;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
    .post-title{
        margin-left: 14px;
        margin-top: 5px;
        display: inline-block;
    }
    .post-date {
        display: inline-block;
        margin-left: 10px;
        font-size: 75%;
        color: #6f6f6f;
        li {
            display: inline-block;
            margin-right: 40px;
        }
    }
	blockquote{
		display: inline-block;
		margin: 12px 0;
		border-left: 4px solid #d1d1d1;
        color: #5f5f5f;		
        font-size: 90%;
		p{
			margin-left: 10px;
            padding: 3px 0px;
            font-weight: 500;
		}
        footer{
			margin-top: -5px;
			margin-left: 30px;
            padding-bottom: 5px;
            font-weight: 300;
		}
		
	}
    a{
        color: #5f5f5f;
    }
     hr{
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

.post-image,
.post-credit-image{
    position: relative;
    overflow: hidden;
    img{
        display: block;
    }
}

.post-heading{
    font-size: 85%;
    color: #313131;
    font-weight: 600;
}

.post,
.credit-post{
	line-height: 28px;
	word-spacing: 0.5px;
    letter-spacing: 0.5px;
    font-size: 80%;
    font-weight: 300;
}

.post-navigation{
    margin-top: 30px;
    margin-bottom: 90px;
    font-size: 70%;
    width: auto;
    a{
        width: 50%;
        float: left;
        text-decoration: underline;
    }
    #prev{
        padding-left: 5px;
    }
    #next{
        text-align: right;
        padding-right: 5px;
    }
}


/**********************STYLING FOR CREDITS AND LISTEN MASONRY GRIDS*********************/




