/* header fixed - content will scroll underneath */
#header{
	position: fixed;
	width: 100%;
	height: 120px;
	z-index: 100;
	background-color: $backgroundColor;
	box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.3);
    transition: height 0.3s ease-in-out;
}

.ianarber {
	position: relative;
	top: 0px;
    font-size: 250%;
    letter-spacing: 5px;
    font-weight: 700;
    //text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
}

.composer,
.film{
	position: relative;
    font-size: 70%;
    font-weight: 700;
	transition: all 0.3s ease-in-out;
}

#logo{
    text-align: center;
    text-transform: uppercase;
    font-family: $logoFontStyle;
    .composer{
        display: table;
        margin: 0 auto;
		top: 6px;
        &:before, &:after{
            border-top: 2px solid $mainFontColor;
            content: '';
            display: table-cell;
            position: relative;
            top: 7px;
            //width: 37.4%;
			width: 37.2%;
			transition: all 0.3s ease-in-out;
        }
        &:before { right: 1.8%; }
        &:after {
            right: -1%;
        }
    }
    .film{
        display: table;
        margin: 0 auto;
		top: -5px;
        &:before, &:after{
            border-top: 2px solid $mainFontColor;
            content: '';
            display: table-cell;
            position: relative;
            top: 7px;
            width: 28.5%;
			transition: all 0.3s ease-in-out;
        }
        &:before { right: 1.8%; }
        &:after {
            right: -1.4%;
        }
    }
}

/* pre-written classes to allow collapseHeader.js file to remove/add pesudo classes */
//.jscomposer{
//	display: table;
//	margin: 0 auto;
//	top: -5px;
//	&:before, &:after{
//		border-top: 2px solid $mainFontColor;
//		content: '';
//		display: table-cell;
//		position: relative;
//		top: 4px;
//		width: 37.1%;
//		transition: top 0.3s ease-in-out;
//		transition: width 0.3s ease-in-out;
//	}
//	&:before { right: 1.7%; }
//	&:after {
//		right: -1%;
//	}
//}
//.jsfilm{
//	display: table;
//	margin: 0 auto;
//	top: -14px;
//	&:before, &:after{
//		border-top: 2px solid $mainFontColor;
//		content: '';
//		display: table-cell;
//		position: relative;
//		top: 4px;
//		width: 28.7%;
//		transition: top 0.3s ease-in-out;
//		transition: width 0.3s ease-in-out;
//	}
//	&:before { right: 1.8%; }
//	&:after {
//		right: -1.5%;
//	}
//}
//.jscomposer,
//.jsfilm{
//	position: relative;
//    font-size: 45%;
//    font-weight: 700;
//	transition: font-size 0.3s ease-in-out;
//	transition: top 0.3s ease-in-out;
//}
/***************************************************************************/


/*** shrink class that will be applied to header via collapseHeader.js on scroll ***/

#header.shunk-header{
    height: 60px;

}

#header.shunk-header .ianarber{
    top: -12px;
    font-size: 150%;
}
   

#header.shunk-header .menu-list-1,
#header.shunk-header .menu-list-2{
    margin-top: -4px;
}

#header.shunk-header .menu-items-1,
#header.shunk-header .menu-items-2{
    font-size: 65%;
}

#header.shunk-header .composer{
    top: -7px;

}

#header.shunk-header .composer:before,
#header.shunk-header .composer:after{
    top: 4px;
    width: 37.1%;

}

#header.shunk-header .composer:before {
    right: 1.7%;
}

#header.shunk-header .composer:after {
    right: -1%;
}

#header.shunk-header .film{
    top: -15px;

}

#header.shunk-header .film:before,
#header.shunk-header .film:after{
    top: 4px;
    width: 28.9%;

}

#header.shunk-header .film:before {
    right: 1.8%;
}

#header.shunk-header .film:after {
    right: -1.5%;
}

#header.shunk-header .composer,
#header.shunk-header .film{
    font-size: 45%;

}

/***************************************************************************/

.menu-list-1,
.menu-list-2{
    margin-top: 25px;
	transition: all 0.3s ease-in-out;
}

.menu-list-1{
	margin-right: -10px;
    text-align: right;
	li:not(:last-child){
		margin-right: 45px;
	}
}



@mixin headerMenuIcon($hpos, $vpos){
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        background: url(assets/img/musical-note.png);
        background-repeat: no-repeat;
        background-position: $hpos $vpos;
        opacity: 0;
        transition: opacity 0.3s;
    }
}

.menu-list-1 li:nth-child(1){
    @include headerMenuIcon(117%, 60%);
}
.menu-list-1 li:nth-child(2){
    @include headerMenuIcon(113%, 60%);
}
.menu-list-1 li:nth-child(3){
    @include headerMenuIcon(114%, 60%);
}
.menu-list-2 li:nth-child(1){
    @include headerMenuIcon(111%, 60%);
}
.menu-list-2 li:nth-child(2){
    @include headerMenuIcon(110%, 60%);
}
.menu-list-2 li:nth-child(3){
    @include headerMenuIcon(107%, 60%);
}

.menu-list-1 li:hover:before,
.menu-list-2 li:hover:before{
    opacity: 1;
    transition: opacity 0.3s;
}



.menu-items-1,
.menu-items-2{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 75%;
	transition: all 0.3s ease-in-out;
    letter-spacing: 2px;
    &:nth-child(-n+2){
        margin-right: 35px;
    }
    padding: 10px 10px 10px 10px;
    
}



.menu-items-2{
	margin-left: -20px;
	&:last-child{
		margin-right: 20px;
	}
}