/* TODO: clean up mquery file */

@media only screen and (max-width: 1232px){  
    #listen-gallery{
        .listen-grid-elements > li{
            width: 50%;
        } 
    }
}



@media only screen and (max-width: 1220px){
	#header{
		height: 110px;
	}
	
	#logo{
		.ianarber{
			font-size: 220%;
		}
		.composer,
		.film{
			font-size: 60%;
		}
		.composer{
			&:before, &:after{
				top: 5px;
				width: 37.7%;
			}
    	}
		.film{
			&:before, &:after{
				top: 5px;
				width: 29.6%;
			}
    	}
	}
	
	.menu-list-1,
	.menu-list-2{
    	margin-top: 19px;
	}
     
    .menu-list-1{
        li:not(:last-child){
            margin-right: 40px;
        }
    }  
	
	.menu-items-1,
	.menu-items-2{
		font-size: 70%;
		&:nth-child(-n+2){
			margin-right: 30px;
		}
	}
	
	.intro{
		top: 75px;
	}
	
	.profile-pic{
		#welcome-intro{
			font-size: 180%;
		}
		#quote{
			font-size: 75%;
		}
		#cite{
			bottom: 23px;
			font-size: 65%;
		}
	}	
    
    .showreel-background{
        margin-top: 75px;
    }
    
    
    .bio{
        #nav-scroll-btns {
            top: 680px;
        }
    }
    
    .bio-profile{
        img{
            width: 120px;
        }
        p{
            height: 120px;
        }
    }
    
    #yt-showreel-wrapper{
        iframe{
            height: 470px;
        }
    }
    
    

}

/* 861px to 960px */
@media only screen and (max-width: 1120px){
	#header{
		height: 80px;
	}
	
	#logo{
		.ianarber{
			font-size: 185%;
            top: -10px;
		}
		.composer,
		.film{
			font-size: 55%;
		}
        .composer{
            top: -4px;
            &:before, &:after{
				top: 5px;
				width: 36.9%;
			}
        }
        .film{
            top: -14px;
            &:before, &:after{
				top: 5px;
				width: 28.3%;
			}
        }
	}
	
	.menu-list-1,
	.menu-list-2{
    	margin-top: 5px;
	}
    
    .menu-list-1{
        li:not(:last-child){
            margin-right: 25px;
        }
    }  
	
	.menu-items-1,
	.menu-items-2{
		font-size: 65%;
		&:nth-child(-n+2){
			margin-right: 20px;
		}
	}
	
	.intro{
		top: 45px;
	}
    
    .profile-pic{
		#welcome-intro{
			font-size: 165%;
		}
        img{
            left: -220px;
            width: 140%;
        }
	}
    
    .img-slide a{
        font-size: 90%;
    }
    
    .showreel-background{
        margin-top: 45px;
    }
    
    #submit-form{
        textarea{
            width: 270px;
        }
    }
    
    
    
    .bio{
        height: 625px;
        .bio-pic{
            height: 500px;
        }
        #nav-scroll-btns {
            top: 580px;
        }
    }
    
    .testimonials{
        width: 810px;
        .content{
            width: 810px;
        }
        #navLinks {
            width: 810px;
        }
    }

    #testimonial-wrapper{
        width: 4050px;
    }
    
    #yt-showreel-wrapper{
        iframe{
            height: 430px;
        }
    }
    
    
    
    

}

/* 761px to 860px */
@media only screen and (max-width: 1005px){
	#header{
		height: 60px;
	}
	
	#logo{
		.ianarber{
            top: -12px;
			font-size: 150%;
		}
		.composer,
		.film{
			font-size: 45%;
		}
		.composer{
			&:before, &:after{
				top: 4px;
				width: 37.1%;
			}
    	}
		.film{
			&:before, &:after{
				top: 4px;
				width: 28.9%;
			}
    	}  
        .composer {
            top: -7px;
        }
        .film {
            top: -15px;
        }
	}
	
	.menu-list-1,
	.menu-list-2{
    	margin-top: -4px;
	}
    
    .menu-list-1{
        li:not(:last-child){
            margin-right: 10px;
        }
    } 
	
	.menu-items-1,
	.menu-items-2{
		font-size: 65%;
		letter-spacing: 1px;
		&:nth-child(-n+2){
			margin-right: 15px;
		}
	}
	
	.intro{
		top: 20px;
	}
	
	.profile-pic{
		#welcome-intro{
			font-size: 145%;
		}
		#welcome-text{
			font-size: 60%;
			width: 80%;
		}
	}
    
    .showreel-background{
        margin-top: 20px;
    }
    

    #grid-gallery{
        .grid{
            li{
                width: 33.3%;
            }
        }
    }
    
    .bio{
        height: 525px;
        .bio-pic{
            height: 400px;
        }
        #nav-scroll-btns {
            top: 480px;
        }
    }
   
    #yt-showreel-wrapper{
        iframe{
            height: 390px;
        }
    }

}

@media screen and (max-width: 945px) {

    #tooltip-form{
        label:first-of-type{
            margin-left: -20px;
        }
        input[type=text],
        input[type=email]{
            width: 125px;
        }
        textarea{
            height: 90px;
            width: 290px;
        }
    }
    
}

/* 481px to 760px */
@media only screen and (max-width: 895px){
    .main-nav{
		display: none;
    }
	
	#logo{
		width: 100%;
	}

    #nav-toggle{
        display: block;
    }
	
	.profile-pic{
        #welcome-intro{
            top: 20px;
		    left: 20px;
		}
        img{
            left: -300px;
            width: 265%;
        }
	}
    
    .img-slide a{
        font-size: 80%;
        letter-spacing: 0.5px;
    }
	
    .showreel-background{
        margin-top: 20px;
    }
    
    .form{
	    height: 635px;
    }
    
    #tooltip-form{
        input[type=text],
        input[type=email]{
            width: 200px;
        }
        textarea{
            margin-top: 15px;
            height: 100px;
            width: 350px;
        }
    }
    
    .direct{
        margin-top: 5px;
    }
    
    .form .social{
        margin-top: 15px;
    }
    
    .agent{
	    margin-top: 15px;
    }
    
    
    .post-container{
	    width: 90%;
    }
    
    .post-credit-audio{
        iframe{           
            padding: 0%;
        }
    }
    
    .listen-grid {
        .section-header{
            display: none;
        }
    }
    
    .genre-menu{
        transform: translateY(20px);
    }
        
    .listen-wrapper{
        margin-top: 80px;
    }
        
    #listen-gallery{
        .listen-grid-elements > li{
            width: 100%;
        } 
    }

    .main-contact-form{
        hr{
            width: 600px;
            margin-top: 70px;
        }
    }
    
    #main-form{
        max-width: 400px;
        margin-bottom: 70px;
        textarea{
            width: 360px;
        }
        input[type=text],
        input[type=email],
        textarea{
            padding-left: 28px;
        }
    }
    
    #form-lb-name,
    #form-lb-email,
    #form-lb-msg{
        &:before{
            top: 8px;
            left: 28px;
        }
    }
    
    .main-contact-form{
        hr{
            width: 450px;
        }
    }
    
    .thank-you{
        div{
            width: 600px;
        }
    }
    
    .bio{
        height: 415px;
        .bio-pic{
            height: 300px;
        }
        #nav-scroll-btns {
            top: 375px;
        }
    }
    
    .bio-text{
        hr:first-of-type{
            margin-bottom: 40px;
        }
        hr:last-of-type{
            margin-top: 45px;
        }
    }
    
    #yt-showreel-wrapper{
        iframe{
            height: 350px;
        }
    }
    
    .testimonials{
        width: 600px;
        #testimonial-container{
            height: 108px;
        }
        .content{
            width: 600px;
            height: 108px;
        }
        #navLinks {
            width: 600px;
        }
    }

    #testimonial-wrapper{
        width: 3000px;
    }
    
    .footer{
        height: 495px;
    }
        
    .foot-upper{
        top: 185px;
    }
    
    .foot-lower{
        top: 205px;
    }
    
    .foot-social{
        h4{
            margin-top: -5px;
        }
        .social-icons{
            margin-top: 10px;
        }
    }

    .copyright{
	    top: 470px;
    }
    	
	
}



@media only screen and (max-width: 680px){
    .showreel-background{
        //height: 1665px;
        iframe{
            width: 80%;
        }
    }
	
	.profile-pic{
        #welcome-intro{
            word-spacing: normal;
        }
	}
    
    
    .main-contact-form{
        .social-icons{
            div:not(:last-child){
                margin-right: 5px;
            }
        }
    }
    
    .bio{
        height: 345px;
        .bio-pic{
            height: 230px;
        }
        #nav-scroll-btns {
            top: 305px;
        }
    }
    
    .bio-text{
        .bio-profile{
            img{
                float: none;
                display: block;
                margin: 0 auto;
            }
            p{
                margin-top: 15px;
                display: inline-block;
            }
        }
        hr:first-of-type{
            margin-bottom: 20px;
        }
        hr:last-of-type{
            margin-top: 15px;
        }
    }
    
    .testimonials{
        width: 400px;
        #testimonial-container{
            height: 150px;
        }
        .content{
            width: 400px;
            height: 150px;
        }
        #navLinks {
            width: 400px;
        }
    }

    #testimonial-wrapper{
        width: 2000px;
    }
    
    .footer{
        height: 555px;
    }
        
    .foot-upper{
        top: 240px;
    }
    
    .foot-lower{
        top: 260px;
    }

    .copyright{
	    top: 530px;
    }
    
    
    #grid-gallery{
        .grid > li{
            width: 50%;
        }
    }
    
    #yt-showreel-wrapper{
        iframe{
            height: 260px;
        }
    }
    
}


@media only screen and (max-width: 618px){   
    .thank-you{
        div{
            width: 400px;
        }
    }
}
@media only screen and (max-width: 612px){   
    #tooltip-form{
        input[type=text],
        input[type=email]{
            width: 120px;
        }
        textarea{
            margin-top: 5px;
            height: 100px;
            width: 230px;
        }
    }
}


/* 401px to 480px */
@media only screen and (max-width: 480px){
	#nav-toggle{
		top: 10px;
		right: -25px;
	}
	
	.profile-pic{
        #welcome-intro{
            position: static;
            top: 10px;
		    left: 10px;
            background-color: transparent;
            h1 > h1{
                background-color: rgba(242, 242, 242, 0.6);
                padding: 0px 8px;
                &:first-child{
                    position: absolute;
                    top: 10px;
                    width: 95%;
                }
                &:last-child{
                    position: absolute;
                    bottom: 10px;
                    width: 95%;
                }
            }
        }
        #welcome-text,
        #quote,
        #cite{
			display: none;
		}
        img{
            width: 360%;
        }
	}
    
    .img-slide a{
        font-size: 75%;
    }
    
    .showreel-background{
        margin-top: 20px;
    }
    


    .form .social{
        .social-icons{
            div:not(:last-child){
                margin-right: 5px;
            }
        }
    }
    
    #grid-gallery{
        .grid > li{
            width: 100%;
        }
    }
    
    .post-container{
	    width: 95%;
    }
    
    .post-image{
        img{
            width: 80%;
        }
    }
    
    #main-form{
        max-width: 300px;
        textarea{
            width: 270px;
        }
        input[type=text],
        input[type=email],
        textarea{
            padding-left: 27px;
        }
    }
    
    #form-lb-name,
    #form-lb-email,
    #form-lb-msg{
        &:before{
            top: 7px;
            left: 23px;
        }
    }
    
    .main-contact-form{
        hr{
            width: 300px;
        }
    }
    
    .thank-you{
        height: 460px;
        div{
            width: 300px;
        }
    }
    
    .bio{
        height: 295px;
        .bio-pic{
            height: 180px;
        }
        #nav-scroll-btns {
            top: 255px;
        }
    }
    
    #yt-showreel-wrapper{
        iframe{
            height: 180px;
        }
    }
    
}



@media only screen and (max-width: 459px){
    .showreel-background{
        //height: 2330px;
    }
    
    #tooltip-form{
        input[type=text],
        input[type=email]{
            width: 200px;
        }
        label{
            margin-left: -30px;
            &:nth-of-type(2):before{
                content: "\a";
                white-space: pre;
            }
            
        }    
        #submit-break{
            display: block;
        }
        textarea{
            width: 200px;
        }
        
        
        
    }
    
    .testimonials{
        width: 300px;
        #testimonial-container{
            height: 190px;
        }
        .content{
            width: 300px;
            height: 190px;
        }
        #navLinks {
            width: 300px;
        }
    }

    #testimonial-wrapper{
        width: 1500px;
    }    
    
    .footer{
        height: 610px;
    }
        
    .foot-upper{
        top: 280px;
    }
    
    .foot-lower{
        top: 300px;
    }
    
    .foot-social{
        .social-icons{
            div:not(:last-child){
                margin-right: 5px;
            }
        }
    }

    .copyright{
	    top: 585px;
    }
    
    
    
}



/* --- to 400px */
@media only screen and (max-width: 400px){
    
    #genres,
    #categories{
        li{
            min-width: 110px;
        }
    }
    
    .bg-iframe{
        img{
            top: 34%;
            transform: translateY(-34%);
            width: 260px;
        }
    }

    .bio{
        height: 265px;
        .bio-pic{
            height: 150px;
        }
        #nav-scroll-btns {
            top: 225px;
        }
    }
    
    .footer{
        height: 640px;
    }
    
    .foot-lower{
        top: 320px;
    }
    
    .copyright{
	    top: 615px;
    }
    
    #yt-showreel-wrapper{
        iframe{
            height: 140px;
        }
    }
}



/* --- iPhone 5 */
@media only screen and (max-width: 320px){
    .section-header{
        h1{
            &:before, &:after{
                width: 30px;
            }
        }
    }

    .profile-pic{
        img{
            width: 430%;
        }
	}

    .direct{
        i{
            font-size: 80%;
        }
    }
    
    #submit-form{
        #message{
            display: none;
        }
    }
    
    .form .social{
        .social-icons{
            font-size: 80%;
            div:not(:last-child){
                margin-right: 3px;
            }
            div:last-of-type{
                margin-bottom: 4px;
                i{ padding: 13px 10px; }
            }
        }
    }
    
    .main-contact-form .social{
        .social-icons{
            font-size: 80%;
            div:not(:last-child){
                margin-right: 3px;
            }
            div:last-of-type{
                margin-bottom: 3px;
                i{ padding: 13px 9px; }
            }
        }
    }
    
    .foot-social{
        .social-icons{
            font-size: 75%;
            div:not(:last-child){
                margin-right: 3px;
            }
            div:last-of-type{
                margin-bottom: 3px;
                i{ padding: 12px 9px; }
            }
        }
    }

    .footer-info li{
        font-size: 90%;
    }
    

   
    
}