/* TODO: clean up mquery file */

/* 961px to 1060px */
@media only screen and (max-width: 1645px){
    .grid-wrap {
        //max-width: 100%;
    }
}

@media only screen and (max-width: 1232px){
    .news{
        height: 795px;
    }
}



@media only screen and (max-width: 1220px){
	#header{
		height: 110px;
	}
	
	#logo{
		.ianarber{
			font-size: 220%;
		}
		.composer,
		.film{
			font-size: 60%;
		}
		.composer{
			&:before, &:after{
				top: 5px;
				width: 37.7%;
			}
    	}
		.film{
			&:before, &:after{
				top: 5px;
				width: 29.6%;
			}
    	}
	}
	
	.menu-list-1,
	.menu-list-2{
    	margin-top: 19px;
	}
     
    .menu-list-1{
        li:not(:last-child){
            margin-right: 40px;
        }
    }  
	
	.menu-items-1,
	.menu-items-2{
		font-size: 70%;
		&:nth-child(-n+2){
			margin-right: 30px;
		}
	}
	
	.intro{
		top: 75px;
	}
	
	.profile-pic{
		#welcome-intro{
			font-size: 135%;
		}
		#quote{
			font-size: 75%;
		}
		#cite{
			bottom: 23px;
			font-size: 65%;
		}
	}	
    
    .showreel-background{
        margin-top: 75px;
    }

}


@media only screen and (max-width: 1132px){
    .showreel-background{
        height: 1325px;
    }
}





/* 861px to 960px */
@media only screen and (max-width: 1120px){
	#header{
		height: 80px;
	}
	
	#logo{
		.ianarber{
			font-size: 185%;
            top: -10px;
		}
		.composer,
		.film{
			font-size: 55%;
		}
        .composer{
            top: -4px;
            &:before, &:after{
				top: 5px;
				width: 36.9%;
			}
        }
        .film{
            top: -14px;
            &:before, &:after{
				top: 5px;
				width: 28.3%;
			}
        }
	}
	
	.menu-list-1,
	.menu-list-2{
    	margin-top: 5px;
	}
    
    .menu-list-1{
        li:not(:last-child){
            margin-right: 25px;
        }
    }  
	
	.menu-items-1,
	.menu-items-2{
		font-size: 65%;
		&:nth-child(-n+2){
			margin-right: 20px;
		}
	}
	
	.intro{
		top: 45px;
	}
	
    .showreel-background{
        margin-top: 45px;
    }
    
    
    
    
    
    /*******************************************************/
    
    .testimonials{
        width: 800px;
        .content{
            width: 800px;
        }
        #navLinks {
            width: 800px;
        }
    }

    #testimonial-wrapper{
        width: 4000px;
    }
        
    
    /*******************************************************/
    
    
//    .post-container{
//        .post-credit-image{
//            float: none;
//        }
//
//        .post-credit-audio{
//            float: none;
//        }
//    }
    
    

    
    
    
    
    
    
    

}

/* 761px to 860px */
@media only screen and (max-width: 1005px){
	#header{
		height: 60px;
	}
	
	#logo{
		.ianarber{
            top: -12px;
			font-size: 150%;
		}
		.composer,
		.film{
			font-size: 45%;
		}
		.composer{
			&:before, &:after{
				top: 4px;
				width: 37.1%;
			}
    	}
		.film{
			&:before, &:after{
				top: 4px;
				width: 28.9%;
			}
    	}  
        .composer {
            top: -7px;
        }
        .film {
            top: -15px;
        }
	}
	
	.menu-list-1,
	.menu-list-2{
    	margin-top: -4px;
	}
    
    .menu-list-1{
        li:not(:last-child){
            margin-right: 10px;
        }
    } 
	
	.menu-items-1,
	.menu-items-2{
		font-size: 65%;
		letter-spacing: 1px;
		&:nth-child(-n+2){
			margin-right: 15px;
		}
	}
	
	.intro{
		top: 20px;
	}
	
	.profile-pic{
		#welcome-intro{
			font-size: 115%;
		}
		#welcome-text{
			font-size: 60%;
			width: 80%;
		}
		#quote{
			width: 90%;
			font-size: 70%;
		}
		#cite{
			bottom: 25px;
			font-size: 60%;
		}
	}
    
    .showreel-background{
        margin-top: 20px;
    }
    

    #grid-gallery{
        .grid{
            li{
                width: 33.3%;
            }
        }
    }
  
   

}

//@media screen and (max-width: 960px) {
//	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
//	.grid li {
//		width: 33.3%;
//	}
//}

/* 481px to 760px */
@media only screen and (max-width: 895px){
    .main-nav{
		display: none;
    }
	
	#logo{
		width: 100%;
	}

    #nav-toggle{
        display: block;
    }
	
	.intro{
		top: 40px;
		height: 595px;
	}
	
	.profile-pic{
		top: 30px;
        #welcome-intro{
			font-size: 105%;
		}
	}
    
    .intro .social{
        margin-top: 525px;
//        .social-icons{
//            div:not(:last-child){
//                margin-right: 15px;
//            }
//        }
    }

	
    .showreel-background{
        margin-top: 40px;
    }
    
    .form{
	    height: 595px;
    }
    
    .direct{
        margin-top: 5px;
    }
    
    .form .social{
        margin-top: 15px;
    }
    
    .agent{
	    margin-top: 15px;
    }
    
    
    .post-container{
	    width: 90%;
    }
    
    .post-credit-audio{
        iframe{           
            padding: 0%;
        }
    }
    
    
    
    
    
    
     /*******************************************************/
    
    .testimonials{
        width: 600px;
        #testimonial-container{
            height: 110px;
        }
        .content{
            width: 600px;
            height: 110px;
        }
        #navLinks {
            width: 600px;
        }
    }

    #testimonial-wrapper{
        width: 3000px;
    }
    
    
    /*******************************************************/
    
    .footer{
        height: 495px;
    }
        
    .foot-upper{
        top: 185px;
    }
    
    .foot-lower{
        top: 205px;
    }
    
    .foot-social{
        h4{
            margin-top: -5px;
        }
        .social-icons{
            margin-top: 10px;
        }
    }

    .copyright{
	    top: 470px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
	
	
}



@media only screen and (max-width: 680px){
    .showreel-background{
        height: 1655px;
        iframe{
            width: 80%;
        }
    }
    
    .intro .social{
        .social-icons{
            div:not(:last-child){
                margin-right: 15px;
            }
        }
    }
    
    /*******************************************************/
    
    .testimonials{
        width: 400px;
        #testimonial-container{
            height: 165px;
        }
        .content{
            width: 400px;
            height: 165px;
        }
        #navLinks {
            width: 400px;
        }
    }

    #testimonial-wrapper{
        width: 2000px;
    }
    
    
    /*******************************************************/
    
    .footer{
        height: 565px;
    }
        
    .foot-upper{
        top: 240px;
    }
    
    .foot-lower{
        top: 260px;
    }

    .copyright{
	    top: 540px;
    }
    
    
    #grid-gallery{
        .grid > li{
            width: 50%;
        }
    }
    
    
}


@media only screen and (max-width: 618px){
    .news{
        height: 1155px;
    }
}
@media only screen and (max-width: 612px){
    .news{
        height: 1500px;
    }
}


/* 401px to 480px */
@media only screen and (max-width: 480px){
	#nav-toggle{
		top: 10px;
		right: -25px;
	}
	
	.intro{
		top: 20px;
		height: 585px;
        .social{
            margin-top: 520px;
        }
	}
	
	.profile-pic{
		#welcome-intro{
			top: 15px;
			left: 20px;
			word-spacing: normal;
		}
		#welcome-text{
			width: 95%;
		}
		#quote{
			bottom: 52px;
		}
		#cite{
			width: 70%;
			bottom: 10px;
			right: 25px;
		}
	}
    
    .showreel-background{
        margin-top: 20px;
    }

     .form .social{
        .social-icons{
            div:not(:last-child){
                margin-right: 5px;
            }
        }
    }
    
    #grid-gallery{
        .grid > li{
            width: 100%;
        }
    }
    
    .post-container{
	    width: 95%;
    }
}



@media only screen and (max-width: 459px){
    .showreel-background{
        height: 2320px;
    }
    
    .intro{
//        .social-icons{
//            div:not(:last-child){
//                margin-right: 100px;
//            }
//        }
	}
    
    /*******************************************************/
    
    .testimonials{
        width: 300px;
        #testimonial-container{
            height: 205px;
        }
        .content{
            width: 300px;
            height: 205px;
        }
        #navLinks {
            width: 300px;
        }
    }

    #testimonial-wrapper{
        width: 1500px;
    }
    
    
    /*******************************************************/
    
    
    .footer{
        height: 610px;
    }
        
    .foot-upper{
        top: 280px;
    }
    
    .foot-lower{
        top: 300px;
    }
    
    .foot-social{
        .social-icons{
            div:not(:last-child){
                margin-right: 5px;
            }
        }
    }

    .copyright{
	    top: 585px;
    }
    
    
    
}



/* --- to 400px */
@media only screen and (max-width: 400px){
	.profile-pic{
		#welcome-intro{
			top: 15px;
			left: 20px;
			word-spacing: normal;
		}
		#welcome-text{
			display: none;
		}
	} 
    
    .footer{
        height: 640px;
    }
    
    .foot-lower{
        top: 320px;
    }
    
    .copyright{
	    top: 615px;
    }
}