/* 961px to 1060px */
@media only screen and (max-width: 1232px){
    .news{
        height: 795px;
    }
}



@media only screen and (max-width: 1220px){
	#header{
		height: 110px;
	}
	
	#logo{
		.ianarber{
			font-size: 220%;
			transition: font-size 0.3s ease-in-out;
		}
		.composer,
		.film{
			font-size: 60%;
			transition: font-size 0.3s ease-in-out;
		}
		.composer{
			&:before, &:after{
				top: 5px;
				width: 37.7%;
				transition: top 0.3s ease-in-out;
				transition: width 0.3s ease-in-out;
			}
    	}
		.film{
			&:before, &:after{
				top: 5px;
				width: 29.6%;
				transition: top 0.3s ease-in-out;
				transition: width 0.3s ease-in-out;
			}
    	}
	}
	
	.menu-list-1,
	.menu-list-2{
    	margin-top: 23px;
		transition: margin-top 0.3s ease-in-out;
	}
     
    .menu-list-1{
        li:not(:last-child){
            margin-right: 40px;
        }
    }  
	
	.menu-items-1,
	.menu-items-2{
		font-size: 70%;
		transition: font-size 0.3s ease-in-out;
		&:nth-child(-n+2){
			margin-right: 30px;
			transition: margin-right 0.3s ease-in-out;
		}
	}
	
	.intro{
		top: 100px;
	}
	
	.profile-pic{
		#welcome-intro{
			font-size: 135%;
		}
		#quote{
			font-size: 75%;
		}
		#cite{
			bottom: 23px;
			font-size: 65%;
		}
	}	
    
    .showreel-background{
        margin-top: 100px;
    }

}


@media only screen and (max-width: 1132px){
    .showreel-background{
        height: 1325px;
    }
}





/* 861px to 960px */
@media only screen and (max-width: 1120px){
	#header{
		height: 80px;
	}
	
	#logo{
		.ianarber{
			font-size: 185%;
            top: -10px;
		}
		.composer,
		.film{
			font-size: 55%;
		}
        .composer{
            top: -4px;
            &:before, &:after{
				top: 5px;
				width: 36.9%;
			}
        }
        .film{
            top: -14px;
            &:before, &:after{
				top: 5px;
				width: 28.3%;
			}
        }
	}
	
	.menu-list-1,
	.menu-list-2{
    	margin-top: 10px;
	}
    
    .menu-list-1{
        li:not(:last-child){
            margin-right: 35px;
        }
    }  
	
	.menu-items-1,
	.menu-items-2{
		font-size: 65%;
		&:nth-child(-n+2){
			margin-right: 20px;
		}
	}
	
	.intro{
		top: 75px;
	}
	
    .showreel-background{
        margin-top: 75px;
    }
    
    
    
    
    
    /*******************************************************/
    
    .testimonials{
        width: 800px;
        #testimonial-container{
            height: 95px;
        }
        .content{
            width: 800px;
            height: 95px;
        }
        #navLinks {
            width: 800px;
        }
    }

    #testimonial-wrapper{
        width: 4000px;
        padding-left: 5px;
    }
        
    
    /*******************************************************/
    
    
    
    
    
    
    
    
    
    

}

/* 761px to 860px */
@media only screen and (max-width: 1005px){
	#header{
		height: 70px;
	}
	
	#logo{
		.ianarber{
			font-size: 160%;
		}
		.composer,
		.film{
			font-size: 50%;
		}
		.composer{
			&:before, &:after{
				top: 4px;
				width: 36.7%;
			}
    	}
		.film{
			&:before, &:after{
				top: 4px;
				width: 27.8%;
			}
    	}
	}
	
	.menu-list-1,
	.menu-list-2{
    	margin-top: 3px;
	}
    
    .menu-list-1{
        li:not(:last-child){
            margin-right: 30px;
        }
    } 
	
	.menu-items-1,
	.menu-items-2{
		font-size: 65%;
		letter-spacing: 1px;
		&:nth-child(-n+2){
			margin-right: 15px;
		}
	}
	
	.intro{
		top: 60px;
	}
	
	.profile-pic{
		#welcome-intro{
			font-size: 115%;
		}
		#welcome-text{
			font-size: 60%;
			width: 80%;
		}
		#quote{
			width: 90%;
			font-size: 70%;
		}
		#cite{
			bottom: 25px;
			font-size: 60%;
		}
	}
    
    .showreel-background{
        margin-top: 60px;
    }

}

/* 481px to 760px */
@media only screen and (max-width: 895px){
    .main-nav{
		display: none;
    }
    
	#header{
		height: 60px;
	}
	
	#logo{
		width: 100%;
		
		.ianarber{
			font-size: 150%;
			top: -12px;
		}
		.composer,
		.film{
			font-size: 45%;
		}
		.composer{
			top: -7px;
			&:before, &:after{
				top: 4px;
				width: 37.1%;
			}
    	}
		.film{
			top: -15px;
			&:before, &:after{
				top: 4px;
				width: 28.9%;
			}
    	}
	}

    #nav-toggle{
        display: block;
    }
	
	.intro{
		top: 60px;
		height: 575px;
	}
	
	.profile-pic{
		top: 30px;
        #welcome-intro{
			font-size: 105%;
		}
	}
    
    .intro .social{
        margin-top: 500px;
    }

	
//	.email-contact{
//		//margin-top: 495px;
//	}	
    
    
     /*******************************************************/
    
    .testimonials{
        width: 600px;
        #testimonial-container{
            height: 110px;
        }
        .content{
            width: 600px;
            height: 110px;
        }
        #navLinks {
            width: 600px;
        }
    }

    #testimonial-wrapper{
        width: 3000px;
        padding-left: 8px;
    }
    
    
    /*******************************************************/
    
    
    
    
	
	
}



@media only screen and (max-width: 680px){
    .showreel-background{
        height: 1655px;
        iframe{
            width: 80%;
        }
    }
    
    
    
    /*******************************************************/
    
    .testimonials{
        width: 400px;
        #testimonial-container{
            height: 165px;
        }
        .content{
            width: 400px;
            height: 165px;
        }
        #navLinks {
            width: 400px;
        }
    }

    #testimonial-wrapper{
        width: 2000px;
    }
    
    
    /*******************************************************/
    
    
    
}


@media only screen and (max-width: 618px){
    .news{
        height: 1140px;
    }
}
@media only screen and (max-width: 612px){
    .news{
        height: 1485px;
    }
}


/* 401px to 480px */
@media only screen and (max-width: 480px){
	#nav-toggle{
		top: 10px;
		right: -25px;
	}
	
	.intro{
		top: 50px;
		height: 565px;
	}
	
	.profile-pic{
		#welcome-intro{
			top: 15px;
			left: 20px;
			word-spacing: normal;
		}
		#welcome-text{
			width: 95%;
		}
		#quote{
			bottom: 52px;
		}
		#cite{
			width: 70%;
			bottom: 10px;
			right: 25px;
		}
	}
	
    .intro .social{
        margin-top: 500px;
    }


}



@media only screen and (max-width: 459px){
    .showreel-background{
        height: 2320px;
    }
    
    
    /*******************************************************/
    
    .testimonials{
        width: 300px;
        #testimonial-container{
            height: 205px;
        }
        .content{
            width: 300px;
            height: 205px;
        }
        #navLinks {
            width: 300px;
        }
    }

    #testimonial-wrapper{
        width: 1500px;
    }
    
    
    /*******************************************************/
    
    
    
}





/* --- to 400px */
@media only screen and (max-width: 400px){
	.profile-pic{
		#welcome-intro{
			top: 15px;
			left: 20px;
			word-spacing: normal;
		}
		#welcome-text{
			display: none;
		}
	}
}