.nav-toggle{
	display: none;
    position: absolute;
    top: 15px;
    left: -80px;
	z-index: 102;
}

.mobile-nav{
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;  
    width: 200px;
    background-color: #333;
	box-shadow: 0 0 5px 5px #222 inset;
    transform: translate3d(200px, 0, 0);
    transition: transform 0.4s ease;
    
    .mobile-nav-list{
        list-style: none; 
        .mobile-nav-item{
            display: block;
            padding: 10px 0 10px 20px;
			font-size: 75%;
			color: #fff;
			border-top: 1px solid #4d4d4d;
    		border-bottom: 1px solid #1a1a1a;		
        }   
    } 
}

.active-nav .mobile-nav{
    transform: translate3d(0, 0, 0);
}

.site-wrap{
    transition: transform 0.4s ease;
}

.active-nav .site-wrap{
    transform: translate3d(-200px, 0, 0);
}





.menu-list-1,
.menu-list-2{
    margin-top: 30px;
	transition: margin-top 0.3s ease-in-out;
}

.menu-list-1{
	text-align: center;
	&:first-child{
		margin-left: 20px;
	}
}

.menu-list-1{
	text-align: right;
}

.menu-items-1,
.menu-items-2{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 75%;
	transition: font-size 0.3s ease-in-out;
    letter-spacing: 2px;
    &:nth-child(-n+2){
        margin-right: 40px;
		transition: margin-right 0.3s ease-in-out;
    }
}

.menu-items-2{
	&:last-child{
		margin-right: 20px;
	}
}