.news{
	height: 400px;
	background-color: #efefef;
}

.news-container{
	width: 90%;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
}

.news-preview{
	width: 24.25%;
	height: 300px;
	background-color: $backgroundColor;
	float: left;
	&:not(:last-child){
		margin-right: 1%;
	}
	img{
		width: 100%;
	}
	a{
		margin-left: 15px;
		font-size: 80%;
		font-weight: 600;
		&:hover{
			color: #1b4571;
		}
	}
	p{
		margin-left: 15px;
		margin-right: 15px;
		font-size: 70%;
	}
}

