.showreel-background{
	//background-image: url(../img/showreelBackground.png);
	//background-size: cover;
	//background-position: center;
	background-color: $backgroundColor;
	height: 910px;
	margin-top: 110px;
}

.section-header{
	text-transform: uppercase;
	text-align: center;
	padding-top: 17px;
	letter-spacing: 1px;
	h4{
		margin: 0 auto;
		display: table;
		white-space: nowrap;
		&:before, &:after{
			border-top: 2px solid $mainFontColor;
			content: '';
			display: table-cell;
			position: relative;
			top: 14px;
			width: 100px;
		}
		&:before { right: 1.5% };
		&:after { right: -1.5% };
	}
}

.section-footer{
	margin: 15px auto 5px auto;
	width: 100px;
	text-transform: uppercase;
	font-size: 75%;
	text-align: center;
}

.section-footer a{
	padding: 3px 6px;
	transition: all 0.3s;
	&:hover{
		background-color: $mainFontColor;
		color: #efefef;
		transition: all 0.3s;
	}
}



/* individual posters will flex expand when width increases */
.poster-row{
	margin: 0 auto;
	max-width: 1500px;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	.poster{
		float: left;
		flex: auto;
		min-width: 200px;
		max-width: 200px;
		margin-top: 20px;
		margin-right: 10px;
		&:first-child{
			margin-left: 10px;
		}
	}
	img{
		position: relative;
		z-index: 1;
		width: 200px;
		transition: transform 1s;
	}
}

.poster-figure{
	position: relative;
	z-index: 2;
	display: inline-block;
	overflow: hidden;
	max-height: 305px;
	transition: box-shadow 0.5s;
}

.poster-caption{
	position: absolute;
	z-index: 3;
	top: 195px;
	left: -8px;
	p{
		display: inline-block;
		background: rgba(242, 242, 242, 1);
		color: rgba(0, 0, 0, 0.8);
		transform: translate3d(30px,0,0);
		margin: 0 0 2px;
    	padding: 3px 8px;
    	font-size: 75%;
		font-weight: 600;
		transition: transform 0.35s;
		transform: translate3d(-160px,0,0);
	}
	.controls{
		transform: translate3d(30px,0,0);
		transition: transform 0.35s;
		transform: translate3d(-160px,0,0);
		i{
			font-size: 120%;
			background: rgba(242, 242, 242, 1);
			color: rgba(0, 0, 0, 0.8);
			margin-top: 2px;
    		padding: 5px 10px;
			cursor: pointer;
		}
	}
}

.poster:hover .poster-caption p,
.poster:hover .poster-caption .controls{
	transform: translate3d(22px,0,0);
}
.poster:hover img{
	transform: scale3d(1.03,1.03,1);
}

.poster:hover .poster-figure{
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.8);
	transition: box-shadow 0.5s;
}

.poster-caption p:first-child{
	transition-delay: 0s;
}

.poster-caption p:nth-of-type(2){
	transition-delay: 0.05s;
}

.poster-caption .controls{
	transition-delay: 0.10s;
}


.sc-player-frame{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}





