.listen-grid {
    max-width: 1840px;
    margin: 0 auto;
    height: auto;
    .section-header{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
    }
    hr{
        margin-bottom: 6px;
    }
    .listen-clear{
        clear: both;
    }
    button:last-of-type{
        margin-bottom: 30px;
    }
}

.listen-wrapper{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.genre-menu{
    position: fixed;
    z-index: 1;
    background-color: $backgroundColor;
    box-shadow: 0px 0px 2px 5px $backgroundColor;
    padding-left: 10px;
    padding-right: 10px;
    backface-visibility: hidden;
    transform: translateY(-20px);
    h5{
        text-align: center;
        margin-bottom: 5px;
        letter-spacing: 0.5px;
    }
}

#arrow{
    position: fixed;
    z-index: 2;
    top: 75px;
    margin-left: 20px;
    font-size: 130%;
    opacity: 0.3;
    transition: opacity 0.3s;
    cursor: pointer;
}

.arrow-rotate{
    transform: rotate(90deg);
}

#menu-info{
    position: fixed;
    z-index: 2;
    top: 77px;
    float: right;
    font-size: 70%;
    margin-left: 50px;
    color: $backgroundColor;
    background-color: $mainFontColor;
    padding: 0px 3px;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.arrow-filter-active{
    color: #6f0404;
}
.info-filter-active{
    background-color: #6f0404 !important;
}

#filter-wrapper{
    &:hover > #arrow{
        opacity: 1;
        transition: opacity 0.3s;
    }
    &:hover > #menu-info{
        opacity: 1;
        transition: opacity 0.3s;
    }
}

#genres,
#categories{
    float: left;
    li{
        text-align: center;
        font-size: 70%;
        font-weight: 300;
        letter-spacing: 0.2px;
        width: 100%;
        min-width: 150px;
        cursor: pointer;
        background: $backgroundColor;
        box-shadow: 0px 0px 1px 1px #aaa, 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        padding: 4px 0px;
        margin-bottom: 8px;     
    }
}

#genres li.added,
#categories li.added{
    box-shadow: 0px 0px 6px 1px #aaa, 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    letter-spacing: 0.5px;
}

#categories{
    margin-left: 10px;
}

#listen-gallery{
    width: 100%;
    float: right;
    margin-top: 0px;
    .listen-grid-elements > li{
        width: 33%;
        float: left;
    } 
}

.playlist-header{
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 3px;
    margin-bottom: 8px;
}

.bg-iframe{
    position: relative;   
    iframe{
        padding: 10px;
        border: none;
        width: 100%;
        
        transition: opacity 0.3s;
        
    }
    img{
        position: absolute;
        top: 28%;
        transform: translateY(-28%);
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        margin: 0 auto;
        filter: blur(2px);
    }
    i{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        color: #333;
        font-size: 450%;
        cursor: pointer;
        transition: transform 0.3s;
        &:hover{
            color: #ff4b00;
        }
    }
    transition: opacity 0.3s;
}

.bg-iframe.spinner{
    background: url('https://ianarber.com/assets/img/spinner.gif') no-repeat center center;
}

.disable-play-icon{
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.temp-disable-icon{
    opacity: 0.2;
    filter: blur(2px);
    pointer-events: none;
}

.play-frame{
    height: 400px;
}
.filmtv-frame{
    height: auto;
}



.disabled{
    pointer-events: none;
    opacity: 0.3;
    transition: opacity 0.3s;
    filter: blur(2px);
}

.bg-iframe-info{
    margin-top: 10px;
    text-align: center;
    transition: opacity 0.3s;
    p{
        color: #313131;
        font-size: 70%;
    }
}

.film-tv{
    img{
        width: 130px;
        padding: 10px;
        transform: translateY(-40%);
    }
}

.fg-cover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 70px 70px;
    cursor: auto;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.3s;
}

#expand-wrapper{
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 85%;
}

#see-more{
    font-size: 170%;
    cursor: pointer;
    transition: transform 0.3s;
    &:hover{
        transform: translateY(5px);
    }
    &:hover + #span-expand{
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.3s;
    }
}

#see-more.rotated{
    transform: rotate(180deg);
    transition: transform 0.3s;
}

#span-expand{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 100px;
    font-size: 90%;
    background-color: transparent;
    color: $mainFontColor;
    text-align: center;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    transform: translateY(5px);
    transition: all 0.3s;
}

#listen-more-expand{
    display: none;
}