.listen-grid {
    //border: 1px solid red;
    max-width: 1840px;
    margin: 0 auto;
    height: auto;
    .section-header{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
    }
    hr{
        margin-bottom: 6px;
    }
    .listen-clear{
        clear: both;
    }
}

.listen-wrapper{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.genre-menu{
    //min-width: 152px;
    position: fixed;
    z-index: 1;
    //top: 170px;
    //left: -140px;
    //width: 15%;
    background-color: $backgroundColor;
    //border: 10px solid $backgroundColor;
    box-shadow: 0px 0px 2px 5px $backgroundColor;
    padding-left: 10px;
    padding-right: 10px;
    backface-visibility: hidden;
    //animation: genre-menu-pulse 2s linear infinite;
    //animation-play-state: paused;
    transform: translateY(-20px);
    //transform: translateX(-410px);
    //margin-top: 10px;
    
    
    h5{
        text-align: center;
        margin-bottom: 5px;
        letter-spacing: 0.5px;
    }
}

//@keyframes hvr-hang {
//  0% {
//    transform: translateX(-395px);
//  }
//
//  50% {
//    transform: translateX(-400px);
//  }
//
//  100% {
//    transform: translateX(-395px);
//  }
//}
//@keyframes hvr-hang-sink {
//  100% {
//    transform: translateX(-395px);
//  }
//}

//#arrow:hover + .genre-menu{
//    animation-name: hvr-hang-sink, hvr-hang;
//    animation-duration: .3s, 1.5s;
//    animation-delay: 0s, .3s;
//    animation-timing-function: ease-out, ease-in-out;
//    animation-iteration-count: 1, infinite;
//}







#arrow{
    position: fixed;
    z-index: 2;
    top: 75px;
    margin-left: 20px;
    font-size: 130%;
    opacity: 0.3;
    transition: opacity 0.3s;
    &:hover{
        opacity: 1;
        transition: opacity 0.3s;
    }
}

.arrow-rotate{
    transform: rotate(90deg);
}

#menu-info{
    position: fixed;
    z-index: 2;
    top: 77px;
    float: right;
    font-size: 70%;
    margin-left: 50px;
    color: $backgroundColor;
    background-color: $mainFontColor;
    padding: 0px 3px;
}


//@keyframes genre-menu-pulse{
//    0% { left: -140px; }
//    100% { left: -130px; }
//}









#genres,
#categories{
    float: left;
    li{
        //display: inline-block;
        text-align: center;
        font-size: 70%;
        font-weight: 300;
        letter-spacing: 0.2px;
        width: 100%;
        min-width: 150px;
        cursor: pointer;
        background: $backgroundColor;
        box-shadow: 0px 0px 1px 1px #aaa, 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        padding: 4px 0px;
        margin-bottom: 8px;     
    }
}

#genres li.added,
#categories li.added{
    box-shadow: 0px 0px 6px 1px #aaa, 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    letter-spacing: 0.5px;
}

#categories{
    margin-left: 10px;
}

#listen-gallery{
    //border: 1px solid red;
    width: 100%;
    //max-width: 1140px;
    float: right;
    margin-top: 0px;
    //margin-right: 10px;
    .listen-grid-elements > li{
        width: 33%;
        float: left;
    } 
}

.playlist-header{
    text-align: center;
    text-transform: uppercase;
    font-size: 95%;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 3px;
    margin-bottom: 8px;
}

.bg-iframe{
    position: relative;   
    background: url(https://site-ianarber.aerobatic.io/assets/img/spinner.gif) no-repeat center center;
    iframe{
        padding: 10px;
        border: none;
        width: 100%;
        transition: opacity 0.3s;
        
    } 
    img{
        border: 2px solid #3c3c3c;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 200px;
        transform: translateY(-50%);
        margin: 0 auto;
        padding: 20px;
    }
}

.disable-image{
    opacity: 0;
    pointer-events: none;
}

.temp-disable-image{
    opacity: 0;
    pointer-events: none;
}

.play-frame{
    height: 400px;
}
.filmtv-frame{
    height: auto;
}



.disabled{
    opacity: 0.1;
    transition: opacity 0.3s;
}



.bg-iframe-info{
    margin-top: 10px;
    text-align: center;
    transition: opacity 0.3s;
    p{
        color: #313131;
        font-size: 70%;
    }
}

.film-tv{
    img{
        width: 130px;
        padding: 10px;
        transform: translateY(-40%);
    }
}



.fg-cover{
    //border: 1px solid green;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    //padding: 160px 90px;
    padding: 70px 70px;
    cursor: auto;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s;
}














.fg-cover.disabled{
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.3s;
}



.fg-cover-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 2px solid #3c3c3c;
    border-radius: 0px;
    background-color: $backgroundColor;
    p{
        color: #3c3c3c;
        text-align: center;
        font-size: 70%;
        font-weight: 800;
    }
}




    













