.listen-grid {
    height: auto;
    .section-header{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
    }
    .listen-clear{
        clear: both;
    }
}

.listen-wrapper{
    //border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

.genre-menu{
    min-width: 152px;
}

#genres{
    li{
        text-align: center;
        font-size: 70%;
        text-transform: uppercase;
        width: 100%;
        min-width: 150px;
        cursor: pointer;
        background: #ffffff;
        box-shadow: 0px 0px 1px 1px #aaa, 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        padding: 4px 0px;
        &:not(:last-child){
            margin-bottom: 8px;
        }      
    }
}

#genres li.added{
    box-shadow: 0px 0px 6px 1px #aaa, 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#listen-gallery{
    margin-top: 0px;
    //margin-left: 10px;
    //border: 1px solid red;
    .grid > li{
        width: 50%;
        float: left;
    } 
}

.playlist-header{
    text-align: center;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 3px;
    margin-bottom: 4px;
}

.bg-iframe{
    position: relative;   
    iframe{
        padding: 10px;
        border: none;
        width: 100%;
        height: 400px;
        transition: opacity 0.3s;
    } 
}

.disabled{
    opacity: 0.1;
    transition: opacity 0.3s;
}



.bg-iframe-info{
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
    transition: opacity 0.3s;
    p{
        color: #313131;
        font-size: 70%;
    }
}




.fg-cover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 160px 90px;
    cursor: auto;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s;
}

.fg-cover.disabled{
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.3s;
}



.fg-cover-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 2px solid rgba(51, 51, 51, 0.5);
    border-radius: 0px;
    p{
        color: rgba(51, 51, 51, 0.5);
        text-align: center;
        font-size: 70%;
        font-weight: 800;
        //letter-spacing: 0.5px;
        &:last-child{
            //margin-top: 15px;
        }
    }
}




    













