.listen-submenu{
    margin-top: 60px;
}

.listen-menu{
    ul{
        margin-top: 15px;
        text-align: center;
        font-size: 85%;
    }
    li{
        position: relative;
        display: inline-block;
        transition: transform 0.3s;
 
        
        
        &:not(:last-child){
            margin-right: 15px;
        }
        &:hover:nth-child(odd){
            transform: translateY(-3px);
            transition: transform 0.3s;
    
        }
    }
}