<section class="section intro">
	<!-- CHANGES: will become jQuery slider -->
	<div class="profile-pic">
		<div id="welcome-intro">
			TEST HOLDING PAGE FOR CLIENT AREA
			
		</div>
		
		<div id="quote">
			<q>Working with Ian is and was a true joy and privilege. 
			His imagination is only revaled by his brilliance and work ethic.</q>	
		</div>
		<div id="cite">
			Jonathan Moch, Director - "Unto Me" &amp; "The Burden"
		</div>
	</div>
	
	<!-- intial contact section only for social media links -->
	

</section>