/****Stylings for post-container class are in defined in globals.scss****/


.post-image{
    img{
        width: 70%;
        margin: 0 auto;
    }
    margin-bottom: 10px;
}

.post-heading{
    margin: 5px 15px 0 15px;
}

.post{
    margin: 20px 15px 0 15px;
}
