/****Stylings for post-container class are in defined in globals.scss****/

.post-image{
    img{
        width: 70%;
        margin: 0 auto;
    }
    margin-bottom: 10px;
}

.post-heading{
    margin: 5px 15px 0 15px;
}

.post{
    margin: 20px 15px 0 15px;
}

.post-container{
    .video-wrapper{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 95%;
            height: 100%;
        }
    }
}