<section class="section bio-text">
    <div class="bio-profile">
        <hr>
        <img src="../assets/img/ian_headshot.jpg" alt="Ian Headshot" />
        <p class="post-heading">
            <!-- pull about page intro in from the contentful posts yaml file -->
            {{ site.data.contentful.spaces.posts.aboutPage[0].intro_text }}
        </p>
        <hr>
    </div>

    <div id="bio-post-container" class="post-container">
        <div id="bio-post-text" class="post">
            Ian Arber's rapid rise in the British film and television industry is underpinned by his bold and multi-faceted approach to musical world-building - writing memorable themes set in a fusion of traditional, electronic and experimental instrumentation.
            <br/><br/>

            Arber scored the BBC's most viewed new drama of 2019, <strong>The Capture</strong>, with Blur's Dave Rowntree, which was viewed by over 22 million people in the UK. The score featured manipulated organic textures with experimental analogue synths, and memorable motifs to depict the world of duplicity and intrigue. Starring Holliday Grainger, Paapa Eissiedu and Ron Pearlman, season 2 aired on BBC1 in the UK and Peacock in the US in 2022.
            <br/><br/>

            Recent works include scoring Netflix's DNA-matching viral hit <strong>The One</strong>, season 3 of Disney+ and Epix original <strong>War of The Worlds</strong>, Showtime psychological thriller <strong>The Stranger in Our Bed</strong> and Acorn TV's detective drama <strong>The Chelsea Detective</strong>, which was recorded with the London Metropolitan Orchestra at British Grove Studios in London. 
            <br/><br/>

            Arber is inspired by collaboration, working closely with filmmakers to create a truly original concept and musical language for each project. A classically-trained cellist and pianist, and collector of exotic instruments, Arber often incorporates these in his score in unconventional ways, blurring the lines between traditional and modern experimental techniques. He relishes the opportunity to create a powerful and productive working relationship with filmmakers, maximising the collaboration to produce distinct work.
            <br/><br/>

            He has recently collaborated with analogue synth specialist and Blur drummer Dave Rowntree on the BAFTA-winning documentary <strong>Bros: After The Screaming Stops</strong>, Imogen Heap on the vocal elements for Netflix's <strong>The One</strong>, and rap legend Nas on the title theme for I Am Bolt. 
            <br/><br/>

            Arber broke out into the British film and television industry with his distinctive scores for BBC comedy drama <strong>Quacks</strong>, starring Rory Kinnear and Rupert Everett, feature-film <strong>My Name is Lenny</strong> starring John Hurt, followed by award-winning documentaries <strong>I Am Bolt</strong>, <strong>Hitsville: The Making of Motown</strong>, the Oscar-qualifying <strong>Sisters of the Wildernes</strong> and the Grierson Award-winning <strong>Show Me The Picture: The Story of Jim Marshall</strong>. 
            <br/><br/>
        </div>
    </div>

    <a href="/contact"><button class="main-btn-style">Contact Me</button></a>

</section>
