<section class="section bio-text">
    <div class="bio-profile">
        <hr>
        <img src="../assets/img/ian_headshot_main.jpg" alt="Ian Headshot" />
        <p class="post-heading">
            Ian is known for his work on "Scott and Sid" (2016), "Mission: Impossible - Rogue Nation" (2015), "Reunion" (2015) and "Changing Hands" (2012). Fresh from his work on "Mission: Impossible Rogue Nation", Ian Arber is an emerging talent in the film music world. With a growing portfolio of work through a variety of genres, Ian is bringing a fresh and unique compositional style to each project...
        </p>
        <hr>
    </div>

    <div id="bio-post-container" class="post-container">
        <div id="bio-post-text" class="post">
            Ian is a classically trained cello and piano player. He has a reputation of pushing the boundaries by experimenting with these, as well as other rare and unusual instruments. Not only is he known for using his cello for melodic phrases throughout his scores, but also unique, intricate percussive and atmospheric elements.
            <br/><br/> 
            Ian began studying cello at five years old and then the piano at ten. He was eventually presented with the highest award for both instruments in his teens. Music quickly became an integral part of his life. At the age of 14, Ian took up the bass guitar, followed by electric and acoustic guitar, while performing in orchestras and producing music for rock and jazz bands. It was at this stage that Ian began to experiment with composition and discovered his true passion. Deciding to focus all his efforts on this, Ian subsequently studied music composition and production at the University of Kent, in England.

            <blockquote>
                <p>
                    Working with Ian is and was a true joy and privilege. His imagination is only revaled by his brilliance and work ethic. Ian takes direction amazingly well, and delivers more than you could ever expect. He reminds us why we got into making movies in the first place; he brings the fun and joy back into the project, and then delivers nothing short of Hollywood magic
                </p>
                <footer>
                    -<a href="http://www.imdb.com/name/nm4091628" target="_blank">Jonathan Moch // Director // "Unto Me" &amp; "The Burden"</a>
                </footer>
            </blockquote>

            To date, Ian has worked with some of the worlds top production companies and brands including the BBC, ABC, NBC and Samsung, as well as directors and producers from all over the world. He has scored many short and feature films, documentaries and computer games. Ian diversified his compositional skills by gaining experience composing in many different genres including horror, drama, comedy and fantasy.
            
            <a id="about-listen-btn" href="/listen.html"><button class="main-btn-style">Listen</button></a>

            <blockquote>
                <p>
                    Ian has a rare skill – he is both inventive and creative with a musical knowledge well above the fray. Ian is a pleasure to work with and he's quick. He makes every project significantly better with his contributions
                </p>
                <footer>
                    -<a href="http://www.imdb.com/name/nm2519152" target="_blank">Laurel Parker // Director // "On Letting Go"</a>
                </footer>
            </blockquote>
            
            In 2015, Ian assisted Hollywood composer Joe Kraemer on his score for Christopher McQuarrie's "Mission: Impossible - Rogue Nation". He assisted Joe throughout the writing process and during recording of the score at Abbey Road Studios in London.
        </div>
    </div>
    
    <a href="/contact.html"><button class="main-btn-style">Contact Me</button></a>
    
</section>