---
layout: default
---

<div class="row post-container">
    <div class="row post-credit-header">
        <figure class="col span-1-of-3 post-credit-image">
            <img src="/{{ page.thumbnail }}" alt="Photo" />
        </figure>

        {% if page.soundcloud %}
        <div class="col span-2-of-3 post-credit-audio">
            <iframe class="frame" src="{{ page.soundcloud }}"></iframe>
        </div>
        {% endif %}

    </div>

    <hr>

    <div class="post-title">
        <h2>{{ page.title }}</h2>
    </div>
    <div class="post-date">
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-calendar-o"></i>{{ page.date | date_to_string }}</li>
            <li><i class="fa-li fa fa-user"></i>{{ page.role }}</li>
            <li><i class="fa-li fa fa-info"></i><a href="{{ page.imdb }}" target="_blank">IMDb</a></li>
        </ul>
    </div>

    <div class="post-heading">
        {{ page.synopsis }}
    </div>

    <div class="credit-post">
        <blockquote>
            <p>
                Genre: {{ page.genre }}<br/>
                Director: {{ page.director }}<br/>

                {% if page.writer %}
                    Writer: {{ page.writer }}<br/>
                {% endif %}

                {% if page.producers %}
                    Producers: {{ page.producers }}
                {% endif %}
            </p>
        </blockquote>
        {{ content }}
    </div>
    
    <a href="/contact.html"><button class="contact-me-btn">Contact Me</button></a>

    <hr id="credit-hr">

    <div class="post-navigation">

        {% if page.next_in_category != nil %}
        <a id="prev" href="{{page.next_in_category.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}

        {% if page.previous_in_category != nil %}
        <a id="next" href="{{page.previous_in_category.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}

    </div>
</div>