{% assign header = page.headerstatus %}

{% if page.description %}
    {% assign finalDescription = page.description %}
    {% elsif page.layout == 'news' %}
    {% assign finalDescription = page.post_excerpt | remove: '<p>' | remove: '</p>' | strip_newlines %}
    {% elsif page.layout == 'credit-info' %}
    {% assign finalDescription = 'New credit annoucement from Ian Arber: ' | append: page.title %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title == 'Composer' %}
        <title>Ian Arber - {{ page.title }}</title>
    {% elsif page.title != 'Composer' %}
        <title>{{ page.title }} - Ian Arber</title>
    {% endif %}

    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <meta property="og:title" content="{{ page.title }} - Ian Arber">
    <meta name="twitter:title" content="{{ page.title }} - Ian Arber">
    <meta name="twitter:card" content="summary">

    <meta name="description" content="{{ finalDescription }}">
    <meta property="og:description" content="{{ finalDescription }}">
    <meta name="twitter:description" content="{{ finalDescription }}">
    <meta name="keywords" content="Ian Arber, Composer, Film, Movie, Television, Music, London, Los Angeles, Original, Score, Mission Impossible, Rogue Nation, Joe Kraemer">
    <meta name="og:keywords" content="Ian Arber, Composer, Film, Movie, Television, Music, London, Los Angeles, Original, Score, Mission Impossible, Rogue Nation, Joe Kraemer">

    <link rel="canonical" href="{{ site.myurl }}{{ page.url | replace:'index.html',''}}">

    {% if page.layout == 'news' %}
        <meta property="og:type" content="article">
        <meta property="article:published_time" content="{{ page.date }}">
        <meta property="article:author" content="{{ site.myurl }}/about/">
        {% else %}
        <meta property="og:type" content="website">
    {% endif %}

    <meta property="og:url" content="{{ site.myurl }}{{ page.url | replace:'index.html',''}}">
    <meta name="twitter:url" content="{{ site.myurl }}{{ page.url | replace:'index.html',''}}">
    <meta property="og:site_name" content="{{ site.name }}">

    <meta property="og:image" content="{{ site.myurl }}{{ page.image_social }}">
    <meta property="og:image:type" content="image/jpeg">

    {% if page.layout == 'news' %}
        {% assign imageWidth = 1200 %}
        {% assign imageHeight = 630 %}
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        {% elsif page.layout == 'credit-info' %}
        {% assign imageWidth = 200 %}
        {% assign imageHeight = 200 %}
        <meta property="og:image:width" content="200">
        <meta property="og:image:height" content="200">
    {% endif %}

    {% if page.videolink %}
        <meta property="og:video" content="{{ page.videolink }}">
        <meta property="og:video:secure_url" content="{{ page.videolink }}">

        {% if page.video_width %}
            <meta property="og:video:width" content="{{ page.video_width }}">
            {% else %}
            <meta property="og:video:width" content="640">
        {% endif %}
        {% if page.video_height %}
            <meta property="og:video:height" content="{{ page.video_height }}">
            {% else %}
            <meta property="og:video:height" content="360">
        {% endif %}
    {% endif %}

    <meta name="twitter:image" content="{{ site.myurl }}{{ page.image_social }}">

    <link rel="stylesheet" href="/assets/css/{{ site.cssToImport }}">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>

    <!-- JSON-LD -START- -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "{{ site.author }}",
            "headline": "{{ site.title }}",
            "image": "{{ site.myurl }}{{ page.image_social }}",
            "description": "{{ finalDescription }}",
            "url": "{{ site.myurl }}{{ page.url | replace:'index.html',''}}",
            "potentialAction": {
                                    "@type": "SearchAction",
                                    "target": "{{ site.myurl }}{{ page.url | replace:'index.html',''}}?s={search_term}",
                                    "query-input": "required name=search_term"
                               }
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "address": {
                            "@type": "PostalAddress",
                            "addressLocality": "London"
                       },
            "email": "mailto:contact@ianarber.com",
            "image": "{{ site.myurl }}/assets/img/ian_headshot.jpg",
            "jobTitle": "Film TV Composer",
            "name": "{{ site.author }}",
            "gender": "male",
            "url": "{{ site.myurl }}{{ page.url | replace:'index.html',''}}",
            "sameAs" : [ "http://www.facebook.com/ianarbercomposer/",
                        "http://www.soundcloud.com/ianarber/",
                        "http://www.twitter.com/ianarber/",
                        "https://www.instagram.com/ianarber/"
                    ]
        }
    </script>

    {% if page.layout == 'news' %}
        <script type="application/ld+json">
            {
                 "@context": "http://schema.org",
                 "@type": "Article",
                 "headline": "{{ page.title }}",
                 "image": {
                                "@type": "ImageObject",
                                "url": "{{ site.myurl }}{{ page.image_social }}",
                                "height": "{{ imageHeight }}",
                                "width": "{{ imageWidth }}"
                          },
                 "author": "{{ site.author }}",
                 "editor": "{{ site.author }}",
                 "publisher": {
                                    "@type": "Organization",
                                    "name": "{{ site.author }}",
                                    "logo": {
                                                "@type": "ImageObject",
                                                "url": "{{ site.myurl }}/assets/img/ian_headshot.jpg",
                                                "height": "230",
                                                "width": "231"
                                            }
                              },
                 "keywords": "film tv music composer",
                 "url": "{{ site.myurl }}{{ page.url | replace:'index.html',''}}",
                 "datePublished": "{{ page.date }}",
                 "dateModified": "{{ page.date }}",
                 "description": "{{ finalDescription }}",
                 "mainEntityOfPage": {
                                         "@type": "WebPage",
                                         "@id": "{{ site.myurl }}{{ page.url | replace:'index.html',''}}"
                                    }
             }
        </script>
    {% endif %}
    <!-- JSON-LD -END- -->


    {% if jekyll.environment == 'production' %}
    <!-- Google Analyitics Code -START- -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81694797-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Google Analyitics Code -END- -->
    {% endif %}


</head>

<body>

	{% include mobile-nav.html %}

	<div id="page-container">

		{% include header.html shrunkclass=header %}

        {% if page.url == '/' %}
            <img id="intro-spinner" src="/assets/img/spinner.gif" alt="home loading spinner" />
    		<div id="page-wrapper" class="slide" style="display: none">
        {% else %}
            <div id="page-wrapper" class="slide">
        {% endif %}

		{{ content }}

		{% include footer.html %}

		</div>
	</div>

	{% include common-scripts.html %}
	{{ page.scripts }}

</body>

</html>
