<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
	
	{% include mobile-nav.html %}

	<div id="container">
	
		{% include header.html %}
		
		<div id="wrapper" class="slide">
		
		{{ content }}
		
		</div>
	</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="assets/script/jquery.waypoints.js"></script>
<script type="text/javascript" src="assets/script/mobileMenu.js"></script>
<script type="text/javascript" src="assets/script/collapseHeader.js"></script>
<script type="text/javascript" src="assets/script/audioPlayer.js"></script>

</body>

</html>