{% assign header = page.headerstatus %}

{% if page.description %}
    {% assign finalDescription = page.description %}     
    {% elsif page.excerpt %}
    {% assign finalDescription = page.excerpt | remove: '<p>' | remove: '</p>' | strip_newlines %} 
{% endif %}
 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
    
    <meta name="description" content="{{ finalDescription }}">
    <meta name="og:description" content="{{ finalDescription }}">
    
    <link rel="canonical" href="{{ site.myurl }}{{ page.url | replace:'index.html',''}}">
    <!--  Comment added for testing  -->
    <link rel="canonical" href="https://thisisatest.url.com">
    
    <meta property="og:url" content="{{ site.myurl }}{{ page.url | replace:'index.html',''}}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:image" content="{{ site.myurl }}{{ page.image }}">

    <link rel="stylesheet" href="/assets/css/{{ site.cssToImport }}">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        
</head>

<body>
	
	{% include mobile-nav.html %}

	<div id="page-container">
	
		{% include header.html shrunkclass=header %}
		
		<div id="page-wrapper" class="slide">
		
		{{ content }}
		
		{% include footer.html %}
		
		</div>
	</div>

	{% include global-scripts.html %}
	{{ page.scripts }}

</body>

</html>