---
layout: default
---

<div class="post-container">
    <figure class="post-image">
        <img src="{{ page.image_social }}" alt="{{ page.film_show }} image" />
    </figure>

    <div class="post-title">
        <h2>{{ page.title }}</h2>
    </div>
    <div class="post-date">
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-film"></i>{{ page.film_show }}</li>
            <li><i class="fa-li fa fa-calendar-o"></i>{{ page.date | date: '%b %Y' }}</li>
        </ul>
    </div>

    <div class="post-heading">
        {{ page.heading }}
    </div>

    <div class="post">
        {{ content }}
    </div>
    
    {% if page.video_link %}
    
    <br />
    <div class="video-wrapper">
        <iframe src="{{ page.video_link }}&amp;controls=1" frameborder="0"></iframe>
    </div>
    <br />
    
    {% endif %}
    
    <a href="/contact"><button class="main-btn-style">Contact Me</button></a>

    <hr>

   
    <div class="post-navigation">

        {% if page.next_in_category != nil %}
        
            <a id="prev" href="{{page.next_in_category.url}}">&laquo; {{ page.next_in_category.title }}</a>
  
        {% endif %}

        {% if page.previous_in_category != nil %}
        
            <a id="next" href="{{page.previous_in_category.url}}">{{ page.previous_in_category.title }} &raquo;</a>
    
        {% endif %}

    </div>
</div>