<section class="section form">
    <div class="section-header">
        <h4>Get in touch</h4>
    </div>

    <div class="row contact-details">
        <div class="col span-1-of-2">
            <div class="direct">
                <h5>Direct</h5>
                <i class="fa fa-envelope"></i>
                <p>ianarbercomposer@gmail.com</p>
                <div id="tooltip-form">
                    <!-- form will be sent via formspree.io -->
                    <!-- TODO: authorize Ian's email with formspree and change below -->
                    <form id="submit-form" action="//formspree.io/test@gmail.com" method="POST">
                        <div>
                            <label>Name:</label>
                            <input type="text" placeholder="Your name"/>
                            <label>Email:</label>
                            <input type="email" name="_replyto" placeholder="Your email"/>
                            <input type="hidden" name="_subject" value="Message from Website"/>
                            <input type="hidden" name="_next"/>
                            <input type="text" name="_gotcha"/>
                        </div>
                        <div>
                            <label id="message">Message:</label>
                            <textarea name="message" placeholder="Your message"></textarea>
                            <input type="submit" value="Send"/>
                        </div>                  
                    </form>
                </div>
            </div>

            <div class="social">
                <h5>Social</h5>

                <div class="social-icons">
                    <div><a target="_blank" href="http://www.facebook.com/ianarbercomposer"><i class="fa fa-facebook"></i></a></div>
                    <div><a target="_blank" href="http://www.twitter.com/ianarber"><i class="fa fa-twitter"></i></a></div>
                    <div><a target="_blank" href="http://www.soundcloud.com/ianarber"><i class="fa fa-soundcloud"></i></a></div>
                    <div><a target="_blank" href="https://www.instagram.com/ianarber"><i class="fa fa-instagram"></i></a></div>
                    <div><a target="_blank" href="https://uk.linkedin.com/in/ian-arber-37287b36"><i class="fa fa-linkedin"></i></a></div>
                    <!-- TODO: check Skype link -->
                    <div><a href="skype:ian_arber?call"><i class="fa fa-skype"></i></a></div>
                </div>
            </div>
        </div>
        <div class="col span-1-of-2">
            <div class="agent">
                <h5>Agent Representation</h5>
                <h6>SMA Talent</h6>
                <p>Carolynne Wyper</p>

                <i class="fa fa-map-marker"></i>
                <p>3rd Floor, 207 Regent Street<br/> London W1B 3HH</p>
                <i class="fa fa-phone"></i>
                <p>+44 (0)7787 177261</p>
                <i class="fa fa-envelope"></i>
                <p>carolynne@smatalent.com</p>
            </div>
        </div>
    </div>
</section>