<section class="section form">
    <div class="section-header">
        <h1>Get in touch</h1>
    </div>

    <div class="row contact-details">
        <div class="col span-1-of-2">
            <div class="direct">
                <h2>Direct</h2>
                <i class="fa fa-envelope"></i>
                <p id="email-ian"></p>
                <div id="tooltip-form">
                    <!-- form will be sent via formspree.io -->
                    <!-- TODO: authorize Ian's email with formspree and change below -->
                    <form id="submit-form" method="POST">
                        <div>
                            <label>Name:</label>
                            <input class="border-colour" type="text" placeholder="Name"/>
                            <label>Email:</label>
                            <input class="border-colour" type="email" name="_replyto" placeholder="Email"/>
                            <input type="hidden" name="_subject" value="Message from Website"/>
                            <input type="hidden" name="_next" value="http://www.ianarber.com/thankyou/"/>
                            <input type="text" name="_gotcha"/>
                        </div>
                        <div>
                            <label id="message">Message:</label>
                            <textarea class="border-colour" name="message" placeholder="Message" maxlength="1000"></textarea>
                            <br id="submit-break">
                            <input type="submit" value="Send"/>
                        </div>                  
                    </form>
                </div>
            </div>
            <div class="social">
                <h2>Social</h2>

                <div class="social-icons">
                    <div><a target="_blank" href="http://www.facebook.com/ianarbercomposer"><i class="fa fa-facebook"></i></a></div>
                    <div><a target="_blank" href="http://www.twitter.com/ianarber"><i class="fa fa-twitter"></i></a></div>
                    <div><a target="_blank" href="https://www.instagram.com/ianarber"><i class="fa fa-instagram"></i></a></div>
                    <div><a target="_blank" href="http://www.imdb.com/name/nm4725072/"><i>IMDb</i></a></div>
                </div>
            </div>
        </div>
        <div class="col span-1-of-2">
            <div class="agent">
                <h6><a href="https://coolmusicltd.com/composers/ian-arber" target="_blank">Cool Music</a></h6>
                <p>Ollie Fitzgerald &middot; Darrell Alexander</p>

                <i class="fa fa-map-marker"></i>
                <p>London</p>
                <i class="fa fa-phone"></i>
                <p>+44 (0) 208 995 7766</p>
                <i class="fa fa-envelope"></i>
                <p><a id="email-ollie" target="_top"></a></p>
            </div>
            <div class="agent">
                <h6><a href="https://soundtrk.com" target="_blank">Soundtrk</a></h6>
                <p>John Tempereau &middot; Isabel Pappani</p>

                <i class="fa fa-map-marker"></i>
                <p>Los Angeles</p>
                <i class="fa fa-phone"></i>
                <p>+1 (310) 260-1023</p>
                <i class="fa fa-envelope"></i>
                <p><a id="email-john" target="_top"></a></p>
            </div>
        </div>
    </div>
</section>