<section class="section form">
    <div class="section-header">
        <h4>Get in touch</h4>
    </div>

    <div class="row contact-details">
        <div class="col span-1-of-2 contact-1">
            <div class="direct">
                <h5>Direct</h5>
                <i class="fa fa-envelope"></i>
                <p>ianarbercomposer@gmail.com</p>
            </div>


            <div class="social">
                <h5>Social</h5>

                <div class="social-icons">
                    <div><i class="fa fa-facebook"></i><a target="_blank" href="http://www.facebook.com/ianarbercomposer"></a></div>
                    <div><i class="fa fa-twitter"></i></div>
                    <div><i class="fa fa-soundcloud"></i></div>
                    <div><i class="fa fa-instagram"></i></div>
                    <div><i class="fa fa-linkedin"></i></div>
                    <div><i class="fa fa-skype"></i></div>
                </div>
            </div>
        </div>
        <div class="col span-1-of-2 contact-2">
            <div class="agent">
                <h5>Agent Representation</h5>
                <h6>SMA Talent</h6>
                <p>Carolynne Wyper</p>

                <i class="fa fa-map-marker"></i>
                <p>3rd Floor, 207 Regent Street<br/> London W1B 3HH</p>
                <i class="fa fa-phone"></i>
                <p>+44 (0)7787 177261</p>
                <i class="fa fa-envelope"></i>
                <p>carolynne@smatalent.com</p>
            </div>
        </div>
    </div>

        

</section>

