<section class="section intro">
	<div class="profile-pic">
	
	    <div id="slider-container">
            
            {% assign slideId = 1 %}
            {% for post in site.categories.news limit:4 %}
            
            <div class="img-slide" id="img-slide-{{slideId}}">
                <img src="{{ post.header }}" alt="{{ post.title }}"/>
                <p><a href="{{ post.url }}">{{ post.film }} - {{ post.title }}</a></p>
            </div>
                       
            {% assign slideId = slideId | plus: 1 %}
            {% endfor %}
           
        </div>
	
		<div id="welcome-intro">
            <p>Welcome to the home of film composer Ian Arber.</p>
			<div id="welcome-text">
				Fresh from his work on "Mission: Impossible - Rogue Nation",
				Ian Arber is an emerging talent in the film music world...
			</div>
		</div>
		<div id="quote">
			<q>Working with Ian is and was a true joy and privilege. 
			His imagination is only revaled by his brilliance and work ethic.</q>	
		</div>
		<div id="cite">
            Jonathan Moch, Director - <cite>Unto Me &amp; The Burden</cite>
		</div>
	</div>
	
	<div id="nav-scroll-btns">
        <ul>
            <li class="active" rel="img-slide-1"></li>
            <li rel="img-slide-2"></li>
            <li rel="img-slide-3"></li>
            <li rel="img-slide-4"></li>
        </ul>
    </div>
</section>
