<section class="section intro">
	<!-- will become jQuery slider -->
	<div class="profile-pic">
		<div id="welcome-intro">
			Welcome to the home of film composer Ian Arber.
			<div id="welcome-text">
				Fresh from his work on "Mission: Impossible - Rogue Nation",
				Ian Arber is an emerging talent in the film music world...
			</div>
		</div>
		
		<div id="quote">
			<q>Working with Ian is and was a true joy and privilege. 
			His imagination is only revaled by his brilliance and work ethic.</q>	
		</div>
		<div id="cite">
			Jonathan Moch, Director - "Unto Me" &amp; "The Burden"
		</div>
	</div>
	
	<!-- intial contact section only for social media links -->
	
	<div class="social">
        <div class="social-icons">
            <div><i class="fa fa-facebook pulse"></i><a target="_blank" href="http://www.facebook.com/ianarbercomposer"></a></div>
            <div><i class="fa fa-twitter pulse"></i></div>
            <div><i class="fa fa-soundcloud pulse"></i></div>
            <div><i class="fa fa-instagram pulse"></i></div>
            <div><i class="fa fa-linkedin pulse"></i></div>
            <div><i class="fa fa-skype pulse"></i></div>
        </div>
	</div>
	
	
	
	
	
	
	
<!-- 	<div class="social-btns">
		<a target="_blank" href="http://www.facebook.com/ianarbercomposer">
			<div class="facebook-hover social-slide"></div>
		</a>
		<a target="_blank" href="http://www.soundcloud.com/ianarber">
			<div class="soundcloud-hover social-slide"></div>
		</a>
		<a target="_blank" href="http://www.twitter.com/ianarber">
			<div class="twitter-hover social-slide"></div>
		</a>
		<a target="_blank" href="https://uk.linkedin.com/in/ian-arber-37287b36">
			<div class="linkedin-hover social-slide"></div>
		</a>
		<a href="skype:ian_arber?call">
			<div class="skype-hover social-slide"></div>
		</a>
	</div> -->
</section>








