<section class="section news">
	<div class="section-header">
		<h1>Latest News</h1>
	</div>

	<div class="news-container">
	    {% for post in site.categories.news limit:4 %}
	    <article class="news-preview">
	        <a href="{{ post.url }}">	
            <figure>
                <img src="{{ post.image }}" alt="{{ post.title }} Blog Post Thumnail Preview"/>
            </figure>
            <p>{{ post.film }}</p>
            <p>{{ post.title }}</p>
            {{ post.excerpt }}
            <div class="post-byline">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-calendar-o"></i>{{ post.date | date_to_string }}</li>
                </ul>
            </div>
            </a>
		</article>
        {% endfor %}		
	</div>
   
    <!-- FUTURE: add twitter and instagram content via API */ -->

</section>