<section class="section news">
	<div class="section-header">
		<h4>Latest News</h4>
	</div>
	
	<div class="news-container">
	    {% for post in site.categories.news limit:4 %}
	    <article class="news-preview">		
			<figure>
				<img src="{{ post.thumbnail }}" alt="Cast Photo"/>
			</figure>
			<a href="{{ post.url }}">{{ post.title }}</a>
			{{ post.excerpt }}
			<div class="post-byline">
			    <ul class="fa-ul">
			        <li><i class="fa-li fa fa-calendar-o"></i>{{ post.date | date_to_string }}</li>
			    </ul>
			</div>	
		</article>
        {% endfor %}		
	</div>
	
<!-- 	<div id="social-feeds">
	    <div id="twitterfeed">
	        <a class="twitter-timeline" href="https://twitter.com/IanArber" data-widget-id="337516631238533120" data-chrome="noheader nofooter noborders"></a>
	        <a class="twitter-follow-button" href="https://twitter.com/IanArber" data-size="large">Follow @IanArber</a>
	    </div>
	    <div id="instafeed">
	        
	        <iframe src="//lightwidget.com/widgets/6b64c711a9c556be823e9eefa95a68d9.html" id="lightwidget_6b64c711a9" name="lightwidget_6b64c711a9" scrolling="no" allowtransparency="true" id="lightwidget-widget" style="border: 0"></iframe>  
	    </div>
	    
	</div> -->

	<div class="section-footer">
		<a href="#">Read more</a>
	</div>
	
	
</section>