<section class="section news">
	<div class="section-header">
		<h1>Latest News</h1>
	</div>

	<div class="news-container">
    
        {% assign newsCounter = 1 %}
        {% assign news = site.categories.news %}
        
	    {% for p in news %}
           
            {% if newsCounter > 4 %}
                {% break %}
            {% endif %}
               
            {% if p.valid == 1 %}

            <article class="news-preview">
                <a href="{{ p.url }}">	
                <figure>
                    <img src="{{ p.image }}" alt="{{ p.title }} Blog Post Thumnail Preview"/>
                </figure>
                <p>{{ p.film }}</p>
                <p>{{ p.title }}</p>
                {{ p.excerpt }}
                <div class="post-byline">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-calendar-o"></i>{{ p.date | date: '%b %Y' }}</li>
                    </ul>
                </div>
                </a>
            </article>

            {% assign newsCounter = newsCounter | plus: 1 %}

            {% endif %}
            
        {% endfor %}
        		
	</div>
   
    <div class="news-clear"></div>

</section>




