<section class="section showreel-background">
	<div class="section-header">
		<h4>Recent Credits</h4>
	</div>
	<!-- 5 movie posters defined in one row -->
	<div class="poster-row">
		<div class="poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/indifferent.jpg" alt="MI5 Poster" />
				<!-- figcaption elements will overlay on mouseover -->
				<figcaption class="poster-caption">
					<div>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-film"></i>Indifferent</li>
							<li><i class="fa-li fa fa-calendar-o"></i>2016</li>
							<li><i class="fa-li fa fa-user"></i>Composer</li>
							<li><i class="fa-li fa fa-info"></i><a href="http://www.imdb.com">IMDB</a></li>
						</ul>
						<div id="seperator"></div>
						<div id="credit-brief">
							Lorem i. equasi, eveniet velit qui architecto. At, accusantium
							aliquid cupiditate. asi, eveniet velit qui architec...<a href="#">[more]</a>
						</div>
						<!-- ~30s audio samples -->
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<!-- REMOVE INLINE SCRIPTING!! -->
							<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/scott-and-sid.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-film"></i>Scott &amp; Sid</li>
							<li><i class="fa-li fa fa-calendar-o"></i>2016</li>
							<li><i class="fa-li fa fa-user"></i>Composer</li>
							<li><i class="fa-li fa fa-info"></i><a href="http://www.imdb.com">IMDB</a></li>
						</ul>
						<div id="seperator"></div>
						<div id="credit-brief">
							Lorem i. equasi, eveniet velit qui architecto. At, accusantium
							aliquid cupiditate. asi, eveniet velit qui architec.
						</div>
						<!-- ~30s audio samples -->
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<!-- REMOVE INLINE SCRIPTING!! -->
							<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/mission-impossible-rogue-nation-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<ul class="fa-ul" id="mi5-info">
							<li><i class="fa-li fa fa-film"></i>MI5: Rouge Nation</li>
							<li><i class="fa-li fa fa-calendar-o"></i>2015</li>
							<li><i class="fa-li fa fa-user"></i>Assistant Composer</li>
							<li><i class="fa-li fa fa-info"></i><a href="http://www.imdb.com">IMDB</a></li>
						</ul>
						<div id="seperator"></div>
						<div id="credit-brief">
							Lorem i. equasi, eveniet velit qui architecto. At, accusantium
							aliquid cupiditate. asi, eveniet velit qui architec.
						</div>
						<!-- ~30s audio samples -->
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<!-- REMOVE INLINE SCRIPTING!! -->
							<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/reunion.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-film"></i>Reunion</li>
							<li><i class="fa-li fa fa-calendar-o"></i>2015</li>
							<li><i class="fa-li fa fa-user"></i>Composer</li>
							<li><i class="fa-li fa fa-info"></i><a href="http://www.imdb.com">IMDB</a></li>
						</ul>
						<div id="seperator"></div>
						<div id="credit-brief">
							Lorem i. equasi, eveniet velit qui architecto. At, accusantium
							aliquid cupiditate. asi, eveniet velit qui architec.
						</div>
						<!-- ~30s audio samples -->
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<!-- REMOVE INLINE SCRIPTING!! -->
							<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="poster" onmouseout="stopPlayer('player')">
			<figure class="poster-figure">
				<img src="assets/img/kia-poster.jpg" alt="MI5 Poster" />
				<figcaption class="poster-caption">
					<div>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-film"></i>Kia</li>
							<li><i class="fa-li fa fa-calendar-o"></i>2014</li>
							<li><i class="fa-li fa fa-user"></i>Composer</li>
							<li><i class="fa-li fa fa-info"></i><a href="http://www.imdb.com">IMDB</a></li>
						</ul>
						<div id="seperator"></div>
						<div id="credit-brief">
							Lorem i. equasi, eveniet velit qui architecto. At, accusantium
							aliquid cupiditate. asi, eveniet velit qui architec.
						</div>
						<!-- ~30s audio samples -->
						<audio id="player">
							<source src="assets/media/sample.ogg" type="audio/ogg">
							<source src="assets/media/sample.mp3" type="audio/mp3"> Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<!-- REMOVE INLINE SCRIPTING!! -->
							<i class="fa fa-play-circle" onclick="document.getElementById('player').play()"></i>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
	</div>	
	
	<div class="section-footer">
		<a href="#">View more</a>
	</div>
	
	<div class="section-header">
		<h4>Showreel</h4>
	</div>
	
	<iframe class="sc-player-frame" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/playlists/46688832&amp;amp%3bauto_play=false&amp;amp%3bhide_related=false&amp;amp%3bshow_comments=true&amp;amp%3bshow_user=true&amp;amp%3bshow_reposts=false&amp;amp%3bvisual=true&amp;visual=false&amp;auto_play=false"></iframe>
	
	<div class="section-footer">
		<a href="#">Hear more</a>
	</div>
	
	
	
	
	
	
</section>

