<section class="section showreel-background">
	<div class="section-header">
		<h1>Recent Credits</h1>
	</div>

    <div id="imdb-logo">
        <a href="http://www.imdb.com/name/nm4725072/" target="_blank">
            <img src="/assets/img/imdb.png" alt="Logo link to Ian Arber's IMDb profile"/>
        </a>
    </div>

	<div class="poster-row">

        {% assign credits = site.categories.credits | sort: 'showreel_weight' | reverse %}

	    {% for p in credits %}
            {% if p.showreel_weight %}

                <div class="poster" >
                    <figure class="poster-figure">
                        <img src="{{ p.image_cover }}" alt="{{ p.title }} Recent Credits Poster" />
                        <!-- figcaption elements will overlay on mouseover -->
                        <figcaption class="poster-caption">
                            <div>
                                <ul class="fa-ul">
                                    {% if p.short_title %}
                                        <li><i class="fa-li fa fa-film"></i>{{ p.short_title }}</li>
                                        {% elsif p.title %}
                                        <li><i class="fa-li fa fa-film"></i>{{ p.title }}</li>
                                    {% endif %}
                                    <li><i class="fa-li fa fa-calendar-o"></i>{{ p.date | date: '%Y' }}</li>
                                    <li><i class="fa-li fa fa-user"></i>{{ p.role }}</li>
                                    <li><i class="fa-li fa fa-info"></i><a href="{{ p.url }}">More Info &raquo;</a></li>
                                </ul>
                                <div class="seperator"></div>
                                <div class="credit-brief">{{ p.synopsis }}</div>
                                {% if p.audio_sample %}
                                <audio class="{{ p.identity }}">
                                    <source src="{{ p.audio_sample }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                                <div class="controls">
                                    <i id="{{ p.identity }}" class="fa fa-play-circle active"></i>
                                    <i id="{{ p.identity }}-stop" class="fa fa-stop-circle"></i>
                                </div>
                                {% endif %}
                            </div>
                        </figcaption>
                    </figure>
                </div>

            {% endif %}
	    {% endfor %}

	</div>

	<div class="showreel-clear"></div>

    <a href="/credits"><button class="main-btn-style">View More</button></a>

	<div class="section-header">
		<h1>Showreel</h1>
	</div>

	<iframe id="showreel-sc-iframe" class="sc-player-frame" src="/blank.html" data-src="https://listen.reelcrafter.com/embed/78d78adf23ebc3fe91b0bb4c12021c81?primaryColor=%23888&theme=light&hideBranding=true"></iframe>

	<a href="/listen"><button class="main-btn-style">Hear More</button></a>
</section>
