<section class="section showreel-background">
	<div class="section-header">
		<h4>Recent Credits</h4>
	</div>

	<div class="poster-row">

	    {% for post in site.categories.credits limit:5 %}
		<div class="poster" >
			<figure class="poster-figure">
				<img src="{{ post.thumbnail }}" alt="Poster" />
				<!-- figcaption elements will overlay on mouseover -->
				<figcaption class="poster-caption">
					<div>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-film"></i>{{ post.title }}</li>
							<li><i class="fa-li fa fa-calendar-o"></i>{{ post.year }}</li>
							<li><i class="fa-li fa fa-user"></i>{{ post.role }}</li>
							<li><i class="fa-li fa fa-info"></i><a href="{{ post.url }}">More Info &raquo;</a></li>
						</ul>
						<div class="seperator"></div>
						<div class="credit-brief">{{ post.synopsis }}</div>
						{% if post.sample %}
						<audio class="{{ post.iden }}">
						    <source src="{{ post.sample }}.ogg" type="audio/ogg">
							<source src="{{ post.sample }}.mp3" type="audio/mp3">
							Your browser does not support the audio element.
						</audio>
						<div class="controls">
							<i id="{{ post.iden }}" class="fa fa-play-circle active"></i>
							<i id="{{ post.iden }}-stop" class="fa fa-stop-circle"></i>
						</div>
						{% endif %}
					</div>
				</figcaption>
			</figure>
		</div>
	    {% endfor %}
	
	</div>	
	
	<div class="section-footer">
		<a href="/credits.html">View more</a>
	</div>
	
	<div class="section-header">
		<h4>Showreel</h4>
	</div>
	
	<iframe class="sc-player-frame" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/playlists/46688832&amp;amp%3bauto_play=false&amp;amp%3bhide_related=false&amp;amp%3bshow_comments=true&amp;amp%3bshow_user=true&amp;amp%3bshow_reposts=false&amp;amp%3bvisual=true&amp;visual=false&amp;auto_play=false"></iframe>
	
	<div class="section-footer">
		<a href="/listen.html">Hear more</a>
	</div>	
</section>